///////////////////  breadcrumb.scss

// Breadcrumbs in the catalog
// we don't want to have any padding or margin on the bottom of the Breadcrumbs here

ol.breadcrumb {
	
	@include border-radius(0);
	background-color: transparent;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #FFFFFF!important;
	@include responsive-font(1.1vw, 8px, 12px, 8px);
	
	
	
	li {
		color: #FFFFFF;
		@include text-shadow;
		+ li:before {

		}
		a {
		color: #e7e7e7!important;
		
		&:hover, &:focus {
				color: #FFFFFF!important;
			}
		}
	}
	
	@include until($bp-md) {
		//display: none;
		}
}

.breadcrumb-bg {
	background-color: $color_base;
	@include background-image(linear-gradient($color_base, $darken1));
}