//////////////////////// CATALOG STYLES
//////////  styles are alphabetical unless nested

////  setup some relative variables for this section
$max-image-width: 600px;
$min-image-width: 320px;
$sub-max-width: 240px;
$sub-min-width: 20px;

$w-image: ($min-image-width + 30px);

$scrollbar-width: 15px;
////  end variables

.cat-btn {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	text-transform: uppercase;
	@include text-shadow;
	
	white-space: normal;
	@include border-radius(0);
	
	color: fade(white, 90%)!important;
	
	&:hover, &:focus {
		color: white!important;
	}

}

.cat-feature-image {
	position: relative;
}

.cat-intro-desc {
	color: white;
	@include text-shadow;
	@include transition;
	clear: both;
	@include at-least($bp-xs) {
		display: none;
	}
	@include at-least($bp-lg) {
		display: block;
	}
}

.cat-title {
	width: 100%;
	z-index: 1;
	@include text-shadow;
	color: white!important;
	//http://stackoverflow.com/questions/9209764/horizontal-centering-text-over-image-via-css
	cursor: pointer;
	@include user-select(none);
	&.tab-content-title {
		position: absolute;
		bottom: 0;
		border-bottom: none;
		text-align: center;
	}
}

//////// Woo Category Lists

.woo-category-tab-wrapper {
	margin: 0 1em 1em;
}

.woo-category-list-wrapper {
	margin: 1em;
	a {
		background-color: $color-base;
		border-color: $darken1;
		&:hover {
			background-color: $darken1;
		}
		&:focus, &:active {
			background-color: $darken2;
		}
		span {
			float: right;
		}
	}
}
