@import "catalog";
@import "breadcrumb";

p.demo_store {
	position: fixed;
	bottom: 0;
	.admin-bar & {
		top:auto;
	}
	// the styling of the site-footer is handled in jquery.styles
}

.woocommerce-tabs {
	h1, h2, h3 {
		color: $color__text-main;
	}	
}

// hide upper title
.pp_woocommerce .ppt {
	display: none !important;
}

.single-product > .page-container > #container {
	background: #FFFFFF; // make backgrounds of shop products white
}

.shop-category {
	@include at-least($bp-xs) {
		margin-top: 20px;
		}
	@include at-least($bp-sm) {
		margin-top: 40px;
		}
	span.amount {
		@include transition;
		@include text-shadow;
		@include at-least($bp-xs) {
			font-size: 32px
			}
		@include at-least($bp-sm) {
			font-size: 54px;
			}
	}
	.variations {
		label {
			color: #333333;
		}
	}
}

.woocommerce {
	////////////////////////////////  Archive pages
	&.archive {
		
		
		.wc-archive-hero-wrapper{
			
			position: relative;
			background-color: #000000;
			background-repeat: no-repeat;
			background-clip: border-box;
			@include transition(min-height $transition-time);
			@include at-least($bp-xs){
				background-attachment: scroll;
				background-position: center center;
				min-height: 320px;
			}
			@include at-least($bp-md){
				background-position: center center;
				min-height: 500px;
			}
			@include at-least($bp-1100){ // avoid the tablet
				background-attachment: scroll;
				min-height: 900px;
			}

			@extend .margin-md-bottom;
			@include display-flex;
			@include flex(1 1 auto);
			@include flex-direction(column);
			@include justify-content(center); // center
			@include align-items(flex-start); // left
			
			.page-title{ // this only affects the page-title that is on the archive page 
				margin: 5px 8px 0;
				padding: 0 10px;
				//@include responsive-font(4vw, 20px, 48px, 32px);
			}
		}
		.term-description { // term description for the category pages
			@extend .highlight; // give a translucent black background
			@extend .margin-sm;
			padding: 5px 10px;
			@include text-shadow;
			@include responsive-font(4vw, 8px, 14px, 12px);
			@include at-least($bp-xs){
				width: 100%;
				
				@include transition(width $transition-time $transition-in);
			}
			@include at-least($bp-md){
				width: 33.3333%;
				
			}
		}
	}
	////////////////////////////////  Checkout 
	&-checkout #payment {
		background: #f8f8f8;
	}
	form .form-row .input-checkbox {
		position: relative;
	}
	.input-text {
		@include border-radius(4px);
		padding: 3px;
	}
	////////////////////////////////  Product page image section (left side)
	div.product { // need to wrap in this div.product because the catalog pages use li.product and div.images so this can affect those pages 
		div.images {

		margin: 1em auto;
		
		@include until($bp-md){
			background-color: $light_gray; // wrap in this so background not gray on desktops 
		}
		
		@include at-least($bp-md){ // desktop-y things
			
			margin-bottom: 0;
			//max-height: 90vh;
			
			padding-right: $scrollbar-width; // accounts for the scrollbar if there is one 
			@include display-flex;
			@include flex(1 1 auto);
			@include flex-direction(column);
			@include justify-content(flex-start);
			img {
				
				@include center-block;
			}

		}
		.flex-control-nav {
			@include until($bp-md){
				display: none;
			}
		}
		.flex-control-thumbs {
			
			li {
				padding: 5px;
			}
		}
		} 
		
	} // end .single-product wrapper 
	&-ordering {
		padding-right: 4px;
	}
	
	.page-title {
		text-decoration: none;
		border-bottom: none;
		background-color: $color__background-pre;
		padding: 20px 15px;
	}
	
	.site-content {
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
	}
	//////////////////////////////////////////////////////////  WooCommerce Product page
	div.product {
		@include at-least($bp-md){ // wrap in the media query because if we don't the column widths never kick back to 100% on mobile. 
			@include display-flex;
			@include justify-content(space-between);
		}
		
	}
	//////////////////////////////////////////////////////////  Product page summary section (right side)
	.summary {
		
		@include at-least($bp-md){ // desktop-y things
			margin: 1em auto;
			// max-height: 90vh;
			// overflow-y: scroll;
			padding-right: $scrollbar-width; // accounts for the scrollbar if there is one 
		}
	}
	//////////////////////////////// Product List 
	// Related Products 
	ul.products li.product{ 
		a img {
			&:hover, &:focus {
				@include opacity(0.5);
			}
		}
		.button {
			width: 100%;
			text-align: center;
			@include responsive-font(2vw, 6px, 14px);
		}
		
	}
	////////////////////////////////  WOO NATIVE SEARCH
	&-product-search {
		#woocommerce-product-search-field {
			@include at-least ($bp-xs){
				width: 2em;
				@include transition(width $transition-time $transition-in);
				&:active, &:focus {
					width: 10em;
					transition-duration: $transition-out;
				}
			}
			@include at-least ($bp-md){
				width: 10em;
			}
			&.search-field {
				@include border-left-radius(3px);
			}
		}
		input[type="submit"]{
			@include until ($bp-md){

			}
		}
	
	}
}

.input-group .input-group-btn {
		@include border-right-radius(3px);
	}

ul.woo-call-to-action-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: $darken1;

	@include text-shadow;
	@include transition;
	font-family: $font__heading;
	.fa {
		@include at-least($bp-xs) {
			margin-right: 0;
			}
		@include at-least($bp-sm) {
			margin-right: 9px;
			}
		
		&:hover, &:focus {

		}
	}
	.svg {  // styling for position has to go here.  

		display: block!important;
		@include svg-shadow;
		position: absolute;
		@include at-least($bp-xs) {
			
			width: 1.28571429em;
			height: auto;
			top: 11px;
			left: 40%;

			}
		@include at-least($bp-sm) {
			left: 45%;
			}
		@include at-least($bp-md) {
			width: 25px;
			top: 10px;
			left: 10px;

			}
	}
	.sizing-icon {  // styling for colors can go here.  This is the outline.
		fill: transparent !important;
		&:hover, &:focus {
			fill: lighten($darken1, 10%);
		}
	}
	.sizing-icon-fill {  // styling for colors can go here.  This is the fill path.  There are two paths for this shape.
		fill: $darken1;
		@include transition;
		&:hover, &:focus {
			fill: lighten($darken1, 10%);
		}
	}
	a {
		color: $darken1;
			&:hover, &:focus {
			color: lighten($darken1, 10%);
		}
		@include at-least($bp-xs) {
			margin: 0;
			padding: 0;
			font-size: 200%;
				
			}
		@include at-least($bp-md) {
			padding: 10px 0;
			font-size: 120%;
			
			}
		&.svg-menu-link {
			
		}
	}
	li {
		padding-top: 0;
		a {
			&:hover, &:focus {
				background-color: transparent!important;
			}
		}
		&#svg-item {
			list-style-image: url('#{$wp-path}/#{$path-images}/very-basic-ruler.svg');
			list-style-position: outside;
		}
	}
	

}

.woo-feature-bloc {
	background: #f8f8f8;
	color: #333333;
	padding: 0 0 40px 0;
	@include backface-visibility(hidden);
	p {
		
	}
}

///////////////////////////////////////////////////  MATERIALS LIST 

$desktop-image-size: 90px;
$mobile-image-size: 44px;

.woo-materials-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: list-item;
		width: 50%;
		padding-right: 2%;
		margin-bottom: 1em;
		&:nth-child(even) {
			padding-right: 0;	
		}
		&:last-child {
			padding-right: 0;
		}

		
		img.woo-material-list-image {
		
			height: auto;
			@include at-least($bp-xs) {
				width: $mobile-image-size;
				@include border-radius(5px 0 0 5px);
				float: left;
				}
			@include at-least($bp-lg) {
				width: $desktop-image-size;
				}
			
		}
		.woo-materials-list-text {
			display: inline-block;
			padding-left: 0.5em;
			background-color: #f9f9f9;
			@include at-least($bp-xs){
				width: calc(100% - #{$mobile-image-size});
				min-height: $mobile-image-size
			}
			@include at-least($bp-md){
				width: calc(100% - #{$desktop-image-size});
				min-height: $desktop-image-size;
			}
			h4 {
				font-size: 16px;
				border-bottom: none;
				@include at-least($bp-xs){
					margin: 3px 0 5px 0;
				}
			}
		    p {
		    	font-size: 10px;

		    }
		}
	}
}

///////////////////////////////////////////////////  END MATERIALS LIST 


