@import "compass/css3";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

.product-search {
	@include at-least($bp-xs){
		width: calc(100vw - 30px); // this will match the width against the padding of the other elements in the navbar above
	}
	@include at-least($bp-md){
		width: 20em;
	}
	@include at-least($bp-lg){
		width: 30em;
	}
	
}

.product-search-form {
	
    @include at-least($bp-xs){
    	margin-bottom: 5px;
    	text-align: center; // justifies input to the center of the container
    }
    @include at-least($bp-md){
    	margin-bottom: 0;
    	//width: 100%!important;
	    text-align: right; // justifies input to the right of the container
    }
}// this is the wrapper

.product-search {
	
	input[type="text"].product-search-field {
    
    padding: 3px 8px;
    background-color: #000000;
    @include until($bp-md){
    	width: 100%!important;
    }
    @include transition(all $transition-time $transition-in);
	    &:focus {
	    	width: 100%!important;
	    	background-color: #FFFFFF;
	    }
    } 
}	

.product-search-results {
	position: absolute;
	z-index: $z;
	//right: 0;
	@include white_on_black;
	.entry {
		&:hover, &:active {
			background-color: $dark_gray;
		}
	}
	.product-info {
		a {
			line-height: $font__line-height-body;
		}
		
	}
	a {
		font-size: 11px!important;
		line-height: $font__line-height-body;
	}
}