/*--------------------------------------------------------------
# Get Compass CSS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Project Variables and Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
p.lead {
  font-size: 21px;
  /*matches bootstrap*/ }

h1, h2, h3, h4, h5, h6 {
  font-family: "hwt-artz", Arial, sans-serif;
  text-transform: uppercase;
  clear: both; }

.font-heading {
  font-family: "hwt-artz", Arial, sans-serif; }

.font-body {
  font-family: "adelle-sans", Arial, sans-serif; }

/*--------------------------------------------------------------
## Padding and Margin
--------------------------------------------------------------*/
.padding-sm {
  padding: 0.5em; }
  .padding-sm-all {
    padding: 0.5em; }
  .padding-sm-top-bottom {
    padding: 0.5em 0; }
  .padding-sm-top {
    padding-top: 0.5em; }
  .padding-sm-bottom {
    padding-bottom: 0.5em; }
  .padding-sm-left {
    padding-left: 0.5em; }
    .padding-sm-left-right {
      padding-right: 0.5em;
      padding-left: 0.5em; }
  .padding-sm-right {
    padding-right: 0.5em; }
.padding-md {
  padding: 1.6em; }
  @media screen and (max-width: 47em) {
    .padding-md {
      padding: 10px 0; } }
  .padding-md-all {
    padding: 1.6em; }
  .padding-md-top-bottom {
    padding: 1.6em 0; }
    @media screen and (max-width: 47em) {
      .padding-md-top-bottom {
        padding: 10px 0; } }
  .padding-md-top {
    padding-top: 1.6em; }
    @media screen and (max-width: 47em) {
      .padding-md-top {
        padding-top: 10px; } }
  @media screen and (min-width: 10em) {
    .padding-md-bottom {
      padding-bottom: 0.6em; } }
  @media screen and (min-width: 48em) {
    .padding-md-bottom {
      padding-bottom: 1.6em; } }
  @media screen and (min-width: 10em) {
    .padding-md-left {
      padding-left: 0.6em; } }
  @media screen and (min-width: 48em) {
    .padding-md-left {
      padding-left: 1.6em; } }
  .padding-md-left-right {
    padding-left: 1.6em;
    padding-right: 1.6em; }
  @media screen and (min-width: 10em) {
    .padding-md-right {
      padding-right: 0.6em; } }
  @media screen and (min-width: 48em) {
    .padding-md-right {
      padding-right: 1.6em; } }
.padding-lg {
  padding: 3.1em; }
  .padding-lg-all {
    padding: 3.1em; }
  .padding-lg-top-bottom {
    padding: 3.1em 0; }
  .padding-lg-top {
    padding-top: 3.1em; }
  .padding-lg-bottom {
    padding-bottom: 3.1em; }
  .padding-lg-left {
    padding-left: 3.1em; }
    .padding-lg-left-right {
      padding-right: 3.1em;
      padding-left: 3.1em; }
  .padding-lg-right {
    padding-right: 3.1em; }
.padding-xl {
  padding: 4.6em; }
  .padding-xl-all {
    padding: 4.6em; }
  .padding-xl-top-bottom {
    padding: 4.6em 0; }
  .padding-xl-top {
    padding-top: 4.6em; }
  .padding-xl-bottom {
    padding-bottom: 4.6em; }
  .padding-xl-left {
    padding-left: 4.6em; }
    .padding-xl-left-right {
      padding-right: 4.6em;
      padding-left: 4.6em; }
  .padding-xl-right {
    padding-right: 4.6em; }
.padding-none {
  padding: 0; }
  .padding-none-top {
    padding-top: 0 !important; }
.padding-bottom-none {
  padding-bottom: 0 !important; }
.padding-top-none, .padding-top-bottom-none {
  padding-top: 0 !important; }
.padding-top-bottom-none {
  padding-bottom: 0 !important; }
.padding-left-none {
  padding-left: 0; }
.padding-right-none {
  padding-right: 0; }

.margin-sm {
  margin: 0.5em; }
  .margin-sm-all {
    margin: 0.5em; }
  .margin-sm-top-bottom {
    margin: 0.5em 0 !important; }
  .margin-sm-top {
    margin-top: 0.5em; }
  .margin-sm-bottom {
    margin-bottom: 0.5em !important; }
  .margin-sm-left {
    margin-left: 0.5em; }
  .margin-sm-right {
    margin-right: 0.5em; }
.margin-md {
  margin: 1.6em; }
  @media screen and (max-width: 47em) {
    .margin-md {
      margin: 10px 0; } }
  .margin-md-all {
    margin: 1.6em; }
  .margin-md-top-bottom {
    margin: 1.6em 0 !important; }
    @media screen and (max-width: 47em) {
      .margin-md-top-bottom {
        margin: 10px 0; } }
  .margin-md-top {
    margin-top: 1.6em; }
    @media screen and (max-width: 47em) {
      .margin-md-top {
        margin-top: 10px; } }
  .margin-md-bottom {
    margin-bottom: 1.6em !important; }
  .margin-md-left {
    margin-left: 1.6em; }
  .margin-md-right {
    margin-right: 1.6em; }
.margin-lg {
  margin: 3.1em; }
  .margin-lg-all {
    margin: 3.1em; }
  .margin-lg-top-bottom {
    margin: 3.1em 0 !important; }
  .margin-lg-top {
    margin-top: 3.1em; }
  .margin-lg-bottom {
    margin-bottom: 3.1em !important; }
  .margin-lg-left {
    margin-left: 3.1em; }
  .margin-lg-right {
    margin-right: 3.1em; }
.margin-xl {
  margin: 4.6em; }
  .margin-xl-all {
    margin: 4.6em; }
  .margin-xl-top-bottom {
    margin: 4.6em 0 !important; }
  .margin-xl-top {
    margin-top: 4.6em; }
  .margin-xl-bottom {
    margin-bottom: 4.6em !important; }
  .margin-xl-left {
    margin-left: 4.6em; }
  .margin-xl-right {
    margin-right: 4.6em; }
.margin-none {
  margin: 0; }
  .margin-none-top {
    margin-top: 0 !important; }
.margin-bottom-none {
  margin-bottom: 0 !important; }
.margin-top-none, .margin-top-bottom-none {
  margin-top: 0 !important; }
.margin-top-bottom-none {
  margin-bottom: 0 !important; }
.margin-left-none {
  margin-left: 0; }
.margin-right-none {
  margin-right: 0; }

.margin-none {
  margin: 0; }
.margin-top-none, .margin-top-bottom-none {
  margin-top: 0 !important; }
.margin-top-bottom-none {
  margin-bottom: 0 !important; }
.margin-bottom-none {
  margin-bottom: 0 !important; }

.line-height-xxs {
  line-height: 0.5; }
.line-height-xs {
  line-height: 0.8; }
.line-height-s {
  line-height: 1; }
.line-height-m {
  line-height: 1.2; }
.line-height-l {
  line-height: 1.4; }
.line-height-xl {
  line-height: 1.6; }
.line-height-xxl {
  line-height: 1.8; }

/*--------------------------------------------------------------
## Links and buttons
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 16px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-color: transparent;
  background-color: #269719;
  text-transform: uppercase;
  line-height: 1;
  padding: .6em 1em .4em;
  -moz-transition: all 200ms 100ms;
  -o-transition: all 200ms 100ms;
  -webkit-transition: all 200ms;
  -webkit-transition-delay: 100ms;
  transition: all 200ms 100ms;
  color: #FFFFFF;
  cursor: pointer; }
  button:hover, button.hover
  button:focus, button.focus,
  input[type="button"]:hover,
  input[type="button"].hover
  button:focus,
  input[type="button"].focus,
  input[type="reset"]:hover,
  input[type="reset"].hover
  button:focus,
  input[type="reset"].focus,
  input[type="submit"]:hover,
  input[type="submit"].hover
  button:focus,
  input[type="submit"].focus, button.hover
  input[type="button"]:focus,
  input[type="button"].hover
  input[type="button"]:focus,
  input[type="reset"].hover
  input[type="button"]:focus,
  input[type="submit"].hover
  input[type="button"]:focus, button.hover
  input[type="reset"]:focus,
  input[type="button"].hover
  input[type="reset"]:focus,
  input[type="reset"].hover
  input[type="reset"]:focus,
  input[type="submit"].hover
  input[type="reset"]:focus, button.hover
  input[type="submit"]:focus,
  input[type="button"].hover
  input[type="submit"]:focus,
  input[type="reset"].hover
  input[type="submit"]:focus,
  input[type="submit"].hover
  input[type="submit"]:focus {
    color: #FFFFFF;
    background-color: #31c320;
    border-color: transparent; }
  button:active, button.active, button:focus, button.focus,
  input[type="button"]:active,
  input[type="button"].active,
  input[type="button"]:focus,
  input[type="button"].focus,
  input[type="reset"]:active,
  input[type="reset"].active,
  input[type="reset"]:focus,
  input[type="reset"].focus,
  input[type="submit"]:active,
  input[type="submit"].active,
  input[type="submit"]:focus,
  input[type="submit"].focus {
    background: #1b6b12;
    border-color: transparent;
    outline: 0; }

.btn {
  font: "hwt-artz", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
  -moz-transition: color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms;
  -o-transition: color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms;
  -webkit-transition: color 200ms, background 200ms, border-color 200ms;
  -webkit-transition-delay: 100ms, 100ms, 100ms;
  transition: color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn:focus {
    outline: none; }
  .btn body.home {
    border-bottom: none; }
  .btn-sm {
    letter-spacing: 1px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .btn-lg {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .btn-xl {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .btn-danger {
    color: #FFFFFF;
    background: #269719;
    border-color: transparent; }
    .btn-danger:visited {
      color: #FFFFFF; }
    .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
      background: #1e7914;
      border-color: transparent;
      color: #FFFFFF; }

a.btn-danger.btn-wire {
  background: transparent;
  border: 2px solid !important;
  border-color: #269719 !important;
  color: #269719;
  cursor: pointer; }
  a.btn-danger.btn-wire:hover, a.btn-danger.btn-wire.hover, a.btn-danger.btn-wire:focus, a.btn-danger.btn-wire:active {
    color: #FFFFFF;
    background: #269719;
    border: 2px solid !important;
    border-color: #269719 !important; }
  body.home a.btn-danger.btn-wire {
    border-color: #269719; }
    body.home a.btn-danger.btn-wire:hover, body.home a.btn-danger.btn-wire:focus, body.home a.btn-danger.btn-wire:active {
      color: #FFFFFF;
      background: #269719; }

a:not(.btn) {
  text-decoration: none;
  color: #585858; }
  a:not(.btn):hover, a:not(.btn):focus {
    color: #269719; }

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/
.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }
  .full-width-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.half-width-image {
  width: 65vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -32.5vw;
  margin-right: -32.5vw; }
  .half-width-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/*--------------------------------------------------------------
## Format the Editor window
--------------------------------------------------------------*/
/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body.mce-content-body.content {
  padding: 1em;
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #404040;
  font-family: "adelle-sans", Arial, sans-serif;
  max-width: 700px; }
