﻿/*!
Theme Name: Vie13
Theme URI: https://vie13.com/
Author: Long Tail Creative
Author URI: https://longtailcreative.com
Description: Custom Wordpress theme for Vie13 Kustom Apparel with WooCommerce support
Version: 1.3.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vie13
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Vie13 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/:root{font-size:calc(1vw + 1vh + 0.5vmin)}body{font-size:5vw}@media (max-width: 160px){body{font-size:8px}}@media (min-width: 320px){body{font-size:16px}}body,input,select,textarea{color:#404040;font-family:"adelle-sans",Arial,sans-serif;line-height:1.7;font-weight:400;font-style:normal}button{font:"hwt-artz",Arial,sans-serif}::selection{background:#269719;color:#fff;text-shadow:none}.text-shadow{text-shadow:0px 1px 2px #040404;behavior:url("/bower_components/pie/PIE.htc")}.text-light{color:#f1f1f1}.text-dark{color:#404040}h1,h2,h3,h4,h5,h6{clear:both;font-weight:700;text-transform:uppercase;font-family:"hwt-artz",Arial,sans-serif;border-bottom:1px solid #404040;-moz-transition:font-size 200ms;-o-transition:font-size 200ms;-webkit-transition:font-size 200ms;transition:font-size 200ms}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{border-bottom:none !important}body.home h1,body.home h2,body.home h3,body.home h4,body.home h5,body.home h6{border-bottom:1px solid #f2f2f2}h1,.h1{font-size:40px;font-size:4vw}@media (max-width: 600px){h1,.h1{font-size:24px}}@media (min-width: 1250px){h1,.h1{font-size:50px}}h2,.h2{font-size:32px;font-size:4vw}@media (max-width: 500px){h2,.h2{font-size:20px}}@media (min-width: 1000px){h2,.h2{font-size:40px}}h3,.h3{font-size:28px;font-size:4vw}@media (max-width: 450px){h3,.h3{font-size:18px}}@media (min-width: 800px){h3,.h3{font-size:32px}}h4,.h4{font-size:24px;font-size:4vw}@media (max-width: 400px){h4,.h4{font-size:16px}}@media (min-width: 600px){h4,.h4{font-size:24px}}h5,.h5,ul{font-size:20px;font-size:4vw}@media (max-width: 350px){h5,.h5,ul{font-size:14px}}@media (min-width: 450px){h5,.h5,ul{font-size:18px}}h6,.h6,p{font-size:16px;font-size:4vw}@media (max-width: 250px){h6,.h6,p{font-size:10px}}@media (min-width: 400px){h6,.h6,p{font-size:16px}}.font-heading{font-family:"hwt-artz",Arial,sans-serif}p.lead{font-weight:100}dfn,cite,em,i{font-style:italic}blockquote{margin:1em 40px;color:#269719;background:#f9f9f9;font:"hwt-artz",Arial,sans-serif}address{margin:0 0 1.5em}pre{background:#eee;font:"Courier 10 Pitch",Courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #103f0b;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big,.big{font-size:125%}.font-body{font-family:"adelle-sans",Arial,sans-serif}.bg-fade-dark,.highlight,.woocommerce.archive .term-description{background:rgba(0,0,0,0.5);color:#fff}.highlight,.woocommerce.archive .term-description{display:inline-block;padding:.25em}.highlight--wrapping{position:relative;box-shadow:.25em 0 0 rgba(0,0,0,0.67),-.25em 0 0 rgba(0,0,0,0.67);-webkit-box-decoration-break:clone;box-decoration-break:clone}@keyframes kenburns{0%{opacity:1;-moz-transform:scale3d(1, 1, 1);-ms-transform:scale3d(1, 1, 1);-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}50%{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}95%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}100%{-moz-transform:scale3d(1.05, 1.05, 1.05);-ms-transform:scale3d(1.05, 1.05, 1.05);-webkit-transform:scale3d(1.05, 1.05, 1.05);transform:scale3d(1.05, 1.05, 1.05);animation-timing-function:ease}}.float-left{float:left}.float-right{float:right}@media screen and (min-width: 10em){.one-of-four,.size-1of4{width:100%}}@media screen and (min-width: 30em){.one-of-four,.size-1of4{width:50%}}@media screen and (min-width: 48em){.one-of-four,.size-1of4{width:25%}}@media screen and (min-width: 10em){.one-of-three,.size-1of3{width:100%}}@media screen and (min-width: 37.5em){.one-of-three,.size-1of3{width:33.33333%}}@media screen and (min-width: 10em){.two-of-five,.size-2of5{width:40%}}@media screen and (min-width: 10em){.one-of-two,.size-1of2,.half-width{width:100%}}@media screen and (min-width: 48em){.one-of-two,.size-1of2,.half-width{width:50%}}@media screen and (min-width: 10em){.three-of-five,.size-3of5{width:60%}}@media screen and (min-width: 10em){.two-of-three,.size-2of3{width:66.66667%}}@media screen and (min-width: 10em){.three-of-four,.size-3of4{width:75%}}@media screen and (min-width: 10em){.four-of-five,.size-4of5{width:80%}}.full-width,.size-1of1,.sm-full{width:100%}.padding-sm{padding:.5em}.padding-sm-all{padding:.5em}.padding-sm-top-bottom{padding:.5em 0}.padding-sm-top{padding-top:.5em}.padding-sm-bottom{padding-bottom:.5em}.padding-sm-left{padding-left:.5em}.padding-sm-left-right{padding-right:.5em;padding-left:.5em}.padding-sm-right{padding-right:.5em}.padding-md{padding:1.6em}@media screen and (max-width: 47em){.padding-md{padding:10px 0}}.padding-md-all{padding:1.6em}.padding-md-top-bottom{padding:1.6em 0}@media screen and (max-width: 47em){.padding-md-top-bottom{padding:10px 0}}.padding-md-top{padding-top:1.6em}@media screen and (max-width: 47em){.padding-md-top{padding-top:10px}}@media screen and (min-width: 10em){.padding-md-bottom{padding-bottom:.6em}}@media screen and (min-width: 48em){.padding-md-bottom{padding-bottom:1.6em}}@media screen and (min-width: 10em){.padding-md-left{padding-left:.6em}}@media screen and (min-width: 48em){.padding-md-left{padding-left:1.6em}}.padding-md-left-right{padding-left:1.6em;padding-right:1.6em}@media screen and (min-width: 10em){.padding-md-right{padding-right:.6em}}@media screen and (min-width: 48em){.padding-md-right{padding-right:1.6em}}.padding-lg{padding:3.1em}.padding-lg-all{padding:3.1em}.padding-lg-top-bottom{padding:3.1em 0}.padding-lg-top{padding-top:3.1em}.padding-lg-bottom{padding-bottom:3.1em}.padding-lg-left{padding-left:3.1em}.padding-lg-left-right{padding-right:3.1em;padding-left:3.1em}.padding-lg-right{padding-right:3.1em}.padding-xl{padding:4.6em}.padding-xl-all{padding:4.6em}.padding-xl-top-bottom{padding:4.6em 0}.padding-xl-top{padding-top:4.6em}.padding-xl-bottom{padding-bottom:4.6em}.padding-xl-left{padding-left:4.6em}.padding-xl-left-right{padding-right:4.6em;padding-left:4.6em}.padding-xl-right{padding-right:4.6em}.padding-none{padding:0}.padding-none-top{padding-top:0 !important}.padding-bottom-none{padding-bottom:0 !important}.padding-top-none,.padding-top-bottom-none{padding-top:0 !important}.padding-top-bottom-none{padding-bottom:0 !important}.padding-left-none{padding-left:0}.padding-right-none{padding-right:0}.margin-sm,.woocommerce.archive .term-description{margin:.5em}.margin-sm-all{margin:.5em}.margin-sm-top-bottom{margin:.5em 0 !important}.margin-sm-top{margin-top:.5em}.margin-sm-bottom{margin-bottom:.5em !important}.margin-sm-left{margin-left:.5em}.margin-sm-right{margin-right:.5em}.margin-md{margin:1.6em}@media screen and (max-width: 47em){.margin-md{margin:10px 0}}.margin-md-all{margin:1.6em}.margin-md-top-bottom{margin:1.6em 0 !important}@media screen and (max-width: 47em){.margin-md-top-bottom{margin:10px 0}}.margin-md-top{margin-top:1.6em}@media screen and (max-width: 47em){.margin-md-top{margin-top:10px}}.margin-md-bottom,.woocommerce.archive .wc-archive-hero-wrapper{margin-bottom:1.6em !important}.margin-md-left{margin-left:1.6em}.margin-md-right{margin-right:1.6em}.margin-lg{margin:3.1em}.margin-lg-all{margin:3.1em}.margin-lg-top-bottom{margin:3.1em 0 !important}.margin-lg-top{margin-top:3.1em}.margin-lg-bottom{margin-bottom:3.1em !important}.margin-lg-left{margin-left:3.1em}.margin-lg-right{margin-right:3.1em}.margin-xl{margin:4.6em}.margin-xl-all{margin:4.6em}.margin-xl-top-bottom{margin:4.6em 0 !important}.margin-xl-top{margin-top:4.6em}.margin-xl-bottom{margin-bottom:4.6em !important}.margin-xl-left{margin-left:4.6em}.margin-xl-right{margin-right:4.6em}.margin-none{margin:0}.margin-none-top{margin-top:0 !important}.margin-bottom-none{margin-bottom:0 !important}.margin-top-none,.margin-top-bottom-none{margin-top:0 !important}.margin-top-bottom-none{margin-bottom:0 !important}.margin-left-none{margin-left:0}.margin-right-none{margin-right:0}.margin-none{margin:0}.margin-top-none,.margin-top-bottom-none{margin-top:0 !important}.margin-top-bottom-none{margin-bottom:0 !important}.margin-bottom-none{margin-bottom:0 !important}.line-height-xxs{line-height:0.5}.line-height-xs{line-height:0.8}.line-height-s{line-height:1}.line-height-m{line-height:1.2}.line-height-l{line-height:1.4}.line-height-xl{line-height:1.6}.line-height-xxl{line-height:1.8}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}blockquote,q{quotes:"" ""}blockquote:before,blockquote:after,q:before,q:after{content:""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}.rhc-tabs{min-height:150px;margin-bottom:1em}.container-fluid{max-width:1600px}ul,ol{margin:0 0 1.2em 0em;padding-left:1.4em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:0em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}#carousel-wrapper{position:relative;clear:both;z-index:0;min-height:500px;height:1px;-moz-transition:height,200ms,ease-out 1s;-o-transition:height,200ms,ease-out 1s;-webkit-transition:height,200ms,ease-out 1s;transition:height 200ms ease-out 1s}#carousel-wrapper-fixed{position:relative;height:0;overflow:hidden;height:auto;clear:both;z-index:0;max-height:500px}#carousel-wrapper-fixed:before{display:block;content:" ";width:100%;padding-top:56.25%}#carousel-wrapper-fixed .fill{position:absolute;z-index:-9;top:0;left:0;right:0;bottom:0;overflow:hidden;width:100%;height:100%;margin:0;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat}#carousel-wrapper-fixed iframe,#carousel-wrapper-fixed object,#carousel-wrapper-fixed embed{position:absolute;top:0;left:0;width:100%;height:100%}#carousel-header,#carousel-header-fixed{display:block;height:100%;position:absolute;top:0;width:100%;z-index:-18;overflow:hidden;background-color:#000000;background-size:cover;background-position:center center}#video-container{position:relative;height:0;overflow:hidden;height:auto}#video-container:before{display:block;content:" ";width:100%;padding-top:56.25%}#video-container .fill{position:absolute;z-index:-9;top:0;left:0;right:0;bottom:0;overflow:hidden;width:100%;height:100%;margin:0;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat}.carousel-control{z-index:29;width:auto;-moz-transition:all,200ms;-o-transition:all,200ms;-webkit-transition:all,200ms;transition:all,200ms}.carousel-control.left{left:0}.carousel-control.right{right:0}.carousel-control.left,.carousel-control.right{top:50%;background-image:none}.carousel-control.left:hover,.carousel-control.right:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);opacity:.9}.carousel-control>.glyphicon{padding:10px;background-color:#333}.carousel-control>.glyphicon:hover,.carousel-control>.glyphicon:focus{background-color:#269719}.carousel-control>.glyphicon:active{background-color:#103f0b}.carousel-inner{height:100%}.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;width:100%;height:auto;bottom:0;left:0;margin:auto;overflow:auto;right:0;top:0}.carousel-fade .carousel-inner .item,.carousel-fade .carousel-inner-fixed .item{transition-property:opacity}.carousel-fade .carousel-inner .item,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right,.carousel-fade .carousel-inner-fixed .item,.carousel-fade .carousel-inner-fixed .active.left,.carousel-fade .carousel-inner-fixed .active.right{opacity:0}.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right,.carousel-fade .carousel-inner-fixed .active,.carousel-fade .carousel-inner-fixed .next.left,.carousel-fade .carousel-inner-fixed .prev.right{opacity:1}.carousel-fade .carousel-inner .next,.carousel-fade .carousel-inner .prev,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right,.carousel-fade .carousel-inner-fixed .next,.carousel-fade .carousel-inner-fixed .prev,.carousel-fade .carousel-inner-fixed .active.left,.carousel-fade .carousel-inner-fixed .active.right{left:0;transform:translate3d(0, 0, 0)}.carousel,.item{height:100%}@media screen and (min-width: 10em){.carousel,.item{opacity:0.5}}@media screen and (min-width: 48em){.carousel,.item{opacity:1}}.overlay-content-wrapper,.overlay-content-wrapper-flexbox{min-height:100%;z-index:6;top:0;left:0;right:0;bottom:0}@media screen and (min-width: 10em){.overlay-content-wrapper,.overlay-content-wrapper-flexbox{position:absolute}}.overlay-content-wrapper .text-light,.overlay-content-wrapper-flexbox .text-light{color:#FFFFFF}.overlay-content-wrapper .text-light a,.overlay-content-wrapper-flexbox .text-light a{color:#FFFFFF}.overlay-content-wrapper .text-light a:hover,.overlay-content-wrapper-flexbox .text-light a:hover,.overlay-content-wrapper .text-light a:focus,.overlay-content-wrapper-flexbox .text-light a:focus{color:#269719}.overlay-content-wrapper .text-light a:active,.overlay-content-wrapper-flexbox .text-light a:active{color:#1b6b12}.overlay-content-wrapper h1,.overlay-content-wrapper-flexbox h1,.overlay-content-wrapper h2,.overlay-content-wrapper-flexbox h2,.overlay-content-wrapper h3,.overlay-content-wrapper-flexbox h3,.overlay-content-wrapper h4,.overlay-content-wrapper-flexbox h4,.overlay-content-wrapper h5,.overlay-content-wrapper-flexbox h5,.overlay-content-wrapper h6,.overlay-content-wrapper-flexbox h6{margin:0;line-height:1}.overlay-content-wrapper-flexbox{display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column}.overlay-content-wrapper-flexbox>section{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center}.overlay-content-wrapper-flexbox>section>div{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto}.overlay-content-wrapper-flexbox>section>div>div{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto}@media screen and (max-width: 47em){.overlay-content-wrapper-flexbox img{max-width:80px;height:auto}}.top-content-box{-moz-box-shadow:rgba(0,0,0,0.75) 0 20px 20px -20px inset;-webkit-box-shadow:rgba(0,0,0,0.75) 0 20px 20px -20px inset;box-shadow:rgba(0,0,0,0.75) 0 20px 20px -20px inset;background-color:#FBAF17}.overlay-main-content,.overlay-main-content-hg,.overlay-main-content-lc{-webkit-justify-content:center;justify-content:center;display:-webkit-flex;display:flex;overflow:hidden}@media screen and (min-width: 10em){.overlay-main-content,.overlay-main-content-hg,.overlay-main-content-lc{-webkit-flex:0 auto;flex:0 auto}}@media screen and (min-width: 48em){.overlay-main-content-hg{-webkit-flex:3 0 0;flex:3 0 0}}@media screen and (min-width: 10em){.overlay-main-content-lc{-webkit-flex:1 auto;flex:1 auto}}@media screen and (min-width: 30em){.overlay-main-content-lc{width:60%}}@media screen and (max-width: 36.5em){.overlay-main-content-lc{width:60%}}@media screen and (min-width: 48em){.overlay-main-content-lc{-webkit-flex:3 0 0;flex:3 0 0}}.left-content-box,.right-content-box{padding:1em;font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;color:#FFFFFF}.no-flexbox .left-content-box,.no-flexbox .right-content-box{position:absolute;top:41px}@media screen and (min-width: 10em){.left-content-box,.right-content-box{text-align:center}}@media screen and (min-width: 48em){.left-content-box,.right-content-box{text-align:left}}.left-content-box p,.right-content-box p{width:100%;line-height:1}.left-content-box h1,.right-content-box h1,.left-content-box h2,.right-content-box h2,.left-content-box h3,.right-content-box h3{border-bottom:none;padding:0;margin:0}body.home .left-content-box h1,body.home .right-content-box h1,body.home .left-content-box h2,body.home .right-content-box h2,body.home .left-content-box h3,body.home .right-content-box h3{border-bottom:none}@media screen and (min-width: 40em){.right-content-box{text-align:right}}@media screen and (min-width: 37.5em){.no-flexbox .right-content-box{right:0}}.no-flexbox .bottom-content-box{position:absolute;bottom:50px;left:0;right:0;width:100%;height:100px}.overlay-aside,.overlay-aside-hg,.overlay-aside-lc{padding:10px}.overlay-aside img,.overlay-aside-hg img,.overlay-aside-lc img{height:auto}@media screen and (min-width: 37.5em){.overlay-aside img,.overlay-aside-hg img,.overlay-aside-lc img{max-width:200px}}@media screen and (min-width: 37.5em){.overlay-aside-hg{-webkit-flex:0 auto;flex:0 auto;min-width:50%}}@media screen and (min-width: 48em){.overlay-aside-hg{min-width:22%}}@media screen and (min-width: 10em){.overlay-aside-lc{-webkit-flex:1 auto;flex:1 auto}}@media screen and (min-width: 37.5em){.overlay-aside-lc{-webkit-flex:0 auto;flex:0 auto;min-width:22%}}@media screen and (min-width: 10em){.overlay-aside-lc>.seriesGraphicSmallDevice{max-width:100%;padding:0 8em 2em}.overlay-aside-lc>.seriesGraphicSmallDevice img{margin:0 auto}}.content_area_post_race_top h1{margin-top:0.25em;margin-bottom:0}.content_area_post_race_top h3{margin-top:0.25em}.content_area_post_race_top p{margin:0}.content_area_post_race_bottom{padding:0.5em}@media screen and (min-width: 40em){.left-content-box,.right-content-box{order:1}.overlay-main-content-hg,.overlay-main-content-lc{order:2}.right-content-box{order:3}.bottom-content-box{order:4}}@media screen and (min-width: 48em){.left-content-box,.right-content-box{order:1}.overlay-main-content-hg,.overlay-main-content-lc{order:2}.right-content-box{order:3}.bottom-content-box{order:4}}#slidecaption{font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;line-height:1}@media screen and (min-width: 10em){#slidecaption{text-align:center;margin-left:auto;margin-right:auto;position:relative;color:#fff;text-shadow:0px 1px 2px #040404}}@media screen and (min-width: 40em){#slidecaption{float:left;clear:both;margin-left:0;margin-right:0;text-align:left}}.side-by-side-button{display:inline-block;width:100%}a{text-decoration:none;color:#404040;-moz-transition:color 200ms 100ms,border-bottom 200ms 100ms;-o-transition:color 200ms 100ms,border-bottom 200ms 100ms;-webkit-transition:color 200ms,border-bottom 200ms;-webkit-transition-delay:100ms,100ms;transition:color 200ms 100ms,border-bottom 200ms 100ms}p a{border-bottom:1px solid currentColor}p a:hover,p a:focus,p a:active,p a:visited{border-bottom:1px solid currentColor}a.btn:hover,a.btn:focus,a.btn:active{border-bottom:1px solid transparent}html.cssfilters body.home p a{border-bottom:1px solid currentColor}html.cssfilters body.home p a:hover,html.cssfilters body.home p a:focus,html.cssfilters body.home p a:active{border-bottom:1px solid currentColor}html.cssfilters body.home p a.btn{font:"hwt-artz",Arial,sans-serif;text-transform:uppercase;text-decoration:none;color:#f2f2f2;-moz-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-o-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-webkit-transition:color 200ms,background 200ms,border-color 200ms;-webkit-transition-delay:100ms,100ms,100ms;transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;border-bottom:none}html.cssfilters body.home p a.btn:hover,html.cssfilters body.home p a.btn:focus,html.cssfilters body.home p a.btn:active{text-decoration:none}html.cssfilters body.home p a.btn:focus{outline:none}html.cssfilters body.home p a.btn body.home{border-bottom:none}html.cssfilters body.home p a.btn:hover,html.cssfilters body.home p a.btn:focus,html.cssfilters body.home p a.btn:active{border-bottom:none;color:#FFFFFF}a:visited{color:#404040}a:hover,a:focus,a:active{text-decoration:none;color:#269719}a:focus{outline:none}a:hover,a:active{outline:none}a.menu-link.main-menu-link{border-bottom:none !important}button>a{font:"hwt-artz",Arial,sans-serif;text-transform:uppercase;text-decoration:none;color:#f2f2f2;-moz-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-o-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-webkit-transition:color 200ms,background 200ms,border-color 200ms;-webkit-transition-delay:100ms,100ms,100ms;transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms}button>a:hover,button>a:focus,button>a:active{text-decoration:none}button>a:focus{outline:none}button>a body.home{border-bottom:none}nav.nav-post-link{position:fixed;top:50%;background:#269719;-moz-transition:background 200ms ease-out;-o-transition:background 200ms ease-out;-webkit-transition:background 200ms ease-out;transition:background 200ms ease-out;height:2.5em;width:2.5em;color:#FFFFFF;text-shadow:0px 1px 2px #040404;font-size:125%;padding:0.5em 0.75em}nav.nav-post-link#single-left{left:0}nav.nav-post-link#single-right{right:0}nav.nav-post-link:hover,nav.nav-post-link:focus{background:#1e7914}nav.nav-post-link:active{background:#103f0b}#site-navigation{-moz-transition:font-size 200ms ease-out,color 200ms ease-out;-o-transition:font-size 200ms ease-out,color 200ms ease-out;-webkit-transition:font-size 200ms ease-out,color 200ms ease-out;transition:font-size 200ms ease-out,color 200ms ease-out;text-transform:uppercase;background-color:#000000;color:#FFFFFF;border-bottom:2px solid #269719}#site-navigation a{color:rgba(255,255,255,0.8);-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out}#site-navigation a:hover,#site-navigation a:focus{color:#269719;transition-timing-function:ease-in}#site-navigation a:active{color:#103f0b}#site-navigation a:not(.navbar-brand),#site-navigation a:not(.navbar-super-widget){text-decoration:none;-moz-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-o-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-webkit-transition:color 200ms,background 200ms,border-color 200ms;-webkit-transition-delay:100ms,100ms,100ms;transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;font-size:14px;font-size:4vw}#site-navigation a:not(.navbar-brand):hover,#site-navigation a:not(.navbar-brand):focus,#site-navigation a:not(.navbar-brand):active,#site-navigation a:not(.navbar-super-widget):hover,#site-navigation a:not(.navbar-super-widget):focus,#site-navigation a:not(.navbar-super-widget):active{text-decoration:none;color:#269719}#site-navigation a:not(.navbar-brand):focus,#site-navigation a:not(.navbar-super-widget):focus{outline:none}#site-navigation a:not(.navbar-brand) body.home,#site-navigation a:not(.navbar-super-widget) body.home{border-bottom:none}@media (max-width: 175px){#site-navigation a:not(.navbar-brand),#site-navigation a:not(.navbar-super-widget){font-size:7px}}@media (min-width: 325px){#site-navigation a:not(.navbar-brand),#site-navigation a:not(.navbar-super-widget){font-size:13px}}#site-navigation a:not(.navbar-brand):hover:not(.branding),#site-navigation a:not(.navbar-brand):focus:not(.branding),#site-navigation a:not(.navbar-super-widget):hover:not(.branding),#site-navigation a:not(.navbar-super-widget):focus:not(.branding){background-color:transparent;color:#269719}#site-navigation a:not(.navbar-brand):active:not(.branding),#site-navigation a:not(.navbar-super-widget):active:not(.branding){background-color:#103f0b;color:#FFFFFF}#site-navigation a:not(.navbar-brand).branding,#site-navigation a:not(.navbar-super-widget).branding{margin-right:15px;padding-left:0;height:auto}@media screen and (min-width: 48em){#site-navigation a:not(.navbar-brand).branding,#site-navigation a:not(.navbar-super-widget).branding{max-width:80px}}@media screen and (min-width: 93.75em){#site-navigation a:not(.navbar-brand).branding,#site-navigation a:not(.navbar-super-widget).branding{max-width:105px}}#site-navigation ul li.current_page_item a,#site-navigation ul li.current_page_parent a{background-color:#269719;color:#FFFFFF}#site-navigation ul li.current_page_item a:hover,#site-navigation ul li.current_page_item a:focus,#site-navigation ul li.current_page_parent a:hover,#site-navigation ul li.current_page_parent a:focus{background-color:#1b6b12;text-shadow:0px 1px 2px #040404;color:#FFFFFF}#site-navigation ul li.current_page_item a:active,#site-navigation ul li.current_page_parent a:active{color:#FFFFFF;background-color:#31c320}#site-navigation ul li.current_page_item ul li a.sub-menu-link,#site-navigation ul li.current_page_parent ul li a.sub-menu-link{background:#fff;color:#404040}#site-navigation ul li.current_page_item ul li a.sub-menu-link:hover,#site-navigation ul li.current_page_item ul li a.sub-menu-link:focus,#site-navigation ul li.current_page_parent ul li a.sub-menu-link:hover,#site-navigation ul li.current_page_parent ul li a.sub-menu-link:focus{background:#fff;color:#269719;text-shadow:none}#site-navigation ul li.current_page_item ul li a.sub-menu-link:active,#site-navigation ul li.current_page_parent ul li a.sub-menu-link:active{background-color:#1b6b12 !important;text-shadow:0px 1px 2px #040404;color:#FFFFFF}#site-navigation ul li.current_page_parent ul li.current-menu-item a,#site-navigation ul li.current_page_parent ul li.current-product_cat-ancestor a{background:#269719;color:#fff}#site-navigation ul li.current_page_parent ul li.current-menu-item a:hover,#site-navigation ul li.current_page_parent ul li.current-menu-item a:focus,#site-navigation ul li.current_page_parent ul li.current-product_cat-ancestor a:hover,#site-navigation ul li.current_page_parent ul li.current-product_cat-ancestor a:focus{background:#1b6b12;color:#fff;text-shadow:none}#site-navigation ul li.current_page_parent ul li.current-menu-item a:active,#site-navigation ul li.current_page_parent ul li.current-product_cat-ancestor a:active{background-color:#103f0b !important;text-shadow:0px 1px 2px #040404;color:#FFFFFF}#site-navigation .site-branding{height:auto;padding:0.5em}@media screen and (min-width: 10em){#site-navigation .site-branding{width:100px}}@media screen and (min-width: 48em){#site-navigation .site-branding{width:490px}}#site-navigation .site-branding-secondary{float:left;height:auto;padding:0.5em}@media screen and (min-width: 10em){#site-navigation .site-branding-secondary{width:100px}}@media screen and (min-width: 48em){#site-navigation .site-branding-secondary{width:100px}}#site-navigation .menu-item-has-children>a{padding-right:8px}#site-navigation .menu-item-has-children>a::after{content:'\f0d7';font-family:FontAwesome;padding-left:7px}.navbar{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;width:100%;margin-bottom:0;border:none}.navbar ul{list-style:none}.navbar ul ul{text-align:left}@media screen and (min-width: 10em){.navbar ul ul{position:relative;float:none;padding-left:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}}@media screen and (min-width: 48em){.navbar ul ul{float:left;position:absolute;left:-999em;z-index:9;background-color:#000}}.navbar ul ul ul{left:-999em;top:0}.navbar ul ul li a{line-height:1.7;font-size:16px;padding:10px 15px}.navbar ul ul li a::before{content:"\f0fb";font-family:FontAwesome;margin-right:7px}.navbar ul ul li:hover>ul,.navbar ul ul li.focus>ul{left:100%}@media screen and (min-width: 10em){.navbar ul ul a{padding:0 0 0 30px}}@media screen and (min-width: 48em){.navbar ul ul a{min-width:210px;text-shadow:none}}.navbar ul ul a:hover,.navbar ul ul a:focus{color:#269719}.current_page_item .navbar ul ul a,.current-menu-item .navbar ul ul a{background:#fff;color:#404040}.navbar ul li:hover>ul,.navbar ul li.focus>ul{left:auto}@media screen and (min-width: 48em){.navbar li{float:left}}.navbar a{display:block;text-decoration:none}.navbar-nav li a.sub-menu-link{padding:10px 0 10px 25px;line-height:1}.navbar-nav li a:focus,.navbar-nav li a:active{color:#269719}@media screen and (min-width: 48em){.navbar-collapse.collapse{display:inline-block !important}}.navbar-right li{-moz-transition:padding 250ms ease-out 50ms;-o-transition:padding 250ms ease-out 50ms;-webkit-transition:padding 250ms ease-out;-webkit-transition-delay:50ms;transition:padding 250ms ease-out 50ms}@media screen and (min-width: 10em){ul.nav.navbar-nav.navbar-right{display:-webkit-flex;display:flex;margin-left:auto}}@media screen and (min-width: 62em){ul.nav.navbar-nav.navbar-right{position:relative}}.navbar-super-widget .textwidget p{font-size:14px;font-size:3vw}@media (max-width: 233.33333px){.navbar-super-widget .textwidget p{font-size:7px}}@media (min-width: 433.33333px){.navbar-super-widget .textwidget p{font-size:13px}}.navbar-super-widget .textwidget p a{display:inline}.navbar-toggle{border-color:transparent;float:left;padding:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.navbar-toggle:hover,.navbar-toggle:focus{background:transparent}.navbar-toggle:active{background-color:#e7e7e7}.fixedDiv{display:none;position:fixed;background-color:#fff;top:0;left:0;right:0;z-index:9;-moz-box-shadow:0 0 4px 1px #333;-webkit-box-shadow:0 0 4px 1px #333;box-shadow:0 0 4px 1px #333;width:100%}@media screen and (min-width: 48em){body.logged-in .fixedDiv{top:32px}}@media print{.fixedDiv{display:none}}/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */.hamburger{padding:4px 0 0;display:inline-block;cursor:pointer;transition-property:opacity, filter;transition-duration:.2s;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}.hamburger:hover{opacity:.6}.hamburger-box{width:32px;height:21px;display:inline-block;position:relative}.hamburger-inner{display:block;top:50%;margin-top:-1.5px}.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{width:32px;height:3px;background-color:#fff;border-radius:0;position:absolute;transition-property:transform;transition-duration:0.15s;transition-timing-function:ease}.hamburger-inner::before,.hamburger-inner::after{content:"";display:block}.hamburger-inner::before{top:-9px}.hamburger-inner::after{bottom:-9px}.hamburger--slider .hamburger-inner{top:1.5px}.hamburger--slider .hamburger-inner::before{top:9px;transition-property:transform, opacity;transition-timing-function:ease;transition-duration:0.2s}.hamburger--slider .hamburger-inner::after{top:18px}.hamburger--slider.is-active .hamburger-inner{transform:translate3d(0, 9px, 0) rotate(45deg)}.hamburger--slider.is-active .hamburger-inner::before{transform:rotate(-45deg) translate3d(-4.57143px, -6px, 0);opacity:0}.hamburger--slider.is-active .hamburger-inner::after{transform:translate3d(0, -18px, 0) rotate(-90deg)}.comment-navigation,.posts-navigation,.post-navigation{padding:1em;width:100%;max-width:700px;max-width:43em;max-width:17.5rem;margin-left:auto;margin-right:auto;line-height:1.2}@media screen and (max-width: 47em){.comment-navigation,.posts-navigation,.post-navigation{padding-left:15px;padding-right:15px}}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:48%}.comment-navigation .nav-previous .nav-title-icon-wrapper,.posts-navigation .nav-previous .nav-title-icon-wrapper,.post-navigation .nav-previous .nav-title-icon-wrapper{position:relative}.comment-navigation .nav-previous .nav-title-icon-wrapper .nav-post-indicator,.posts-navigation .nav-previous .nav-title-icon-wrapper .nav-post-indicator,.post-navigation .nav-previous .nav-title-icon-wrapper .nav-post-indicator{position:absolute;left:-18px}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:48%}.comment-navigation .nav-next .nav-title-icon-wrapper,.posts-navigation .nav-next .nav-title-icon-wrapper,.post-navigation .nav-next .nav-title-icon-wrapper{position:relative}.comment-navigation .nav-next .nav-title-icon-wrapper .nav-post-indicator,.posts-navigation .nav-next .nav-title-icon-wrapper .nav-post-indicator,.post-navigation .nav-next .nav-title-icon-wrapper .nav-post-indicator{position:absolute;right:-18px}.comment-navigation .nav-title,.posts-navigation .nav-title,.post-navigation .nav-title{font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;color:#585858;-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out}.comment-navigation .nav-title:hover,.comment-navigation .nav-title:focus,.posts-navigation .nav-title:hover,.posts-navigation .nav-title:focus,.post-navigation .nav-title:hover,.post-navigation .nav-title:focus{color:#269719}.comment-navigation .nav-title:active,.posts-navigation .nav-title:active,.post-navigation .nav-title:active{color:#1b6b12}.comment-navigation .nav-subtitle,.posts-navigation .nav-subtitle,.post-navigation .nav-subtitle{font-size:12px;font-size:4vw;text-transform:uppercase;font-weight:bold;color:#ccc;content:"";display:table;table-layout:fixed;display:block;margin-bottom:5px;letter-spacing:0.1818em}@media (max-width: 200px){.comment-navigation .nav-subtitle,.posts-navigation .nav-subtitle,.post-navigation .nav-subtitle{font-size:8px}}@media (min-width: 250px){.comment-navigation .nav-subtitle,.posts-navigation .nav-subtitle,.post-navigation .nav-subtitle{font-size:10px}}button,input[type="button"],input[type="reset"],input[type="submit"]{font-size:16px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border-color:transparent;background-color:#269719;text-transform:uppercase;line-height:1;padding:.6em 1em .4em;-moz-transition:all 200ms 100ms;-o-transition:all 200ms 100ms;-webkit-transition:all 200ms;-webkit-transition-delay:100ms;transition:all 200ms 100ms;color:#FFFFFF;cursor:pointer}button:hover,button.hover button:focus,button.focus,input[type="button"]:hover,input[type="button"].hover button:focus,input[type="button"].focus,input[type="reset"]:hover,input[type="reset"].hover button:focus,input[type="reset"].focus,input[type="submit"]:hover,input[type="submit"].hover button:focus,input[type="submit"].focus,button.hover input[type="button"]:focus,input[type="button"].hover input[type="button"]:focus,input[type="reset"].hover input[type="button"]:focus,input[type="submit"].hover input[type="button"]:focus,button.hover input[type="reset"]:focus,input[type="button"].hover input[type="reset"]:focus,input[type="reset"].hover input[type="reset"]:focus,input[type="submit"].hover input[type="reset"]:focus,button.hover input[type="submit"]:focus,input[type="button"].hover input[type="submit"]:focus,input[type="reset"].hover input[type="submit"]:focus,input[type="submit"].hover input[type="submit"]:focus{color:#FFFFFF;background-color:#31c320;border-color:transparent}button:active,button.active,button:focus,button.focus,input[type="button"]:active,input[type="button"].active,input[type="button"]:focus,input[type="button"].focus,input[type="reset"]:active,input[type="reset"].active,input[type="reset"]:focus,input[type="reset"].focus,input[type="submit"]:active,input[type="submit"].active,input[type="submit"]:focus,input[type="submit"].focus{background:#1b6b12;border-color:transparent;outline:0}.btn{font:"hwt-artz",Arial,sans-serif;text-transform:uppercase;text-decoration:none;color:#f2f2f2;-moz-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-o-transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-webkit-transition:color 200ms,background 200ms,border-color 200ms;-webkit-transition-delay:100ms,100ms,100ms;transition:color 200ms 100ms,background 200ms 100ms,border-color 200ms 100ms;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.btn:hover,.btn:focus,.btn:active{text-decoration:none}.btn:focus{outline:none}.btn body.home{border-bottom:none}.btn-sm{letter-spacing:1px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.btn-lg{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.btn-xl{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.btn-danger{color:#FFFFFF;background:#269719;border-color:transparent}.btn-danger:visited{color:#FFFFFF}.btn-danger:hover,.btn-danger:focus,.btn-danger:active{background:#1e7914;border-color:transparent;color:#FFFFFF}a.btn-danger.btn-wire{background:transparent;border:2px solid !important;border-color:#269719 !important;color:#269719;cursor:pointer}a.btn-danger.btn-wire:hover,a.btn-danger.btn-wire.hover,a.btn-danger.btn-wire:focus,a.btn-danger.btn-wire:active{color:#FFFFFF;background:#269719;border:2px solid !important;border-color:#269719 !important}body.home a.btn-danger.btn-wire{border-color:#269719}body.home a.btn-danger.btn-wire:hover,body.home a.btn-danger.btn-wire:focus,body.home a.btn-danger.btn-wire:active{color:#FFFFFF;background:#269719}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #1b6b12;border-radius:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #1b6b12}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"]{padding:10px}textarea{padding-left:3px;width:100%}.form-horizontal{padding:5em 0}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;color:#21759b;display:block;font-size:16px;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.widget.sticky-navbar{margin-bottom:0;display:-webkit-flex;display:flex}.widget.sticky-navbar ul{display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row;margin:0;padding:0}.widget.sticky-navbar ul li{padding-right:0.5em}.widget.sticky-navbar ul li:last-child{padding-right:0}.widget.sticky-navbar ul li a::before{font-size:5vw}@media (max-width: 220px){.widget.sticky-navbar ul li a::before{font-size:11px}}@media (min-width: 360px){.widget.sticky-navbar ul li a::before{font-size:18px}}#navbar-widget-item.widget{margin-bottom:0}html.cssfilters body.home{background-color:#000;color:#f2f2f2}html.flexbox body:not(.archive).logged-in .site{min-height:calc(100vh - 32px)}html.flexbox body:not(.archive) .site{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center;min-height:100vh;height:100%}html.flexbox body:not(.archive) .site .site-content{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center}html.flexbox body:not(.archive) .site .site-content .content-area{display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center}html.flexbox body:not(.archive) .site .site-content .content-area main.site-main{width:100%;display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center}html.flexbox body:not(.archive) .site .site-content .content-area main.site-main article:not(.format-image){-webkit-flex:1 1 auto;flex:1 1 auto}html.flexbox header,html.flexbox footer{-webkit-flex:none;flex:none}.single-post-thumbnail img{margin:0 auto}@media screen and (min-width: 10em){.single-post-thumbnail{margin-left:-15px;margin-right:-15px}}.article-bg-header-wrap{width:100%;width:100vw;display:inline-block;margin:0 -100%;margin:0 calc(50% - 50vw);position:relative;height:0;overflow:hidden;height:auto;max-height:"999px"}.article-bg-header-wrap:before{display:block;content:" ";width:100%;padding-top:56.25%}.article-bg-header-wrap .fill{position:absolute;z-index:-9;top:0;left:0;right:0;bottom:0;overflow:hidden;width:100%;height:100%;margin:0;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat}article{clear:both}article.type-post{margin:1em auto}article.page{min-height:100%}article.format-aside .entry-title{text-align:center}body.archive article.format-aside .entry-title{text-align:left}article.format-image p{margin:0}article.format-image .entry-content .tags-links{padding-right:0;padding:.5em 0 0;content:"";display:table;table-layout:fixed;font-size:10px;font-size:4vw}@media (max-width: 250px){article.format-image .entry-content .tags-links{font-size:10px}}@media (min-width: 300px){article.format-image .entry-content .tags-links{font-size:12px}}article.format-image .entry-content p{margin:0 0 .5em 0}article.format-image .entry-footer{padding:1em}body.archive article.format-image .entry-footer{background-color:#f9f9f9;margin-bottom:1em;width:100%;text-align:left}article.format-image .entry-header{font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;margin-bottom:0}@media screen and (min-width: 10em){body.single article.format-image .entry-header{margin-bottom:15px}}@media screen and (min-width: 48em){body.single article.format-image .entry-header{margin-right:15px;margin-bottom:0}}article.format-image .entry-meta{font-size:10px;font-size:4vw}@media (max-width: 250px){article.format-image .entry-meta{font-size:10px}}@media (min-width: 300px){article.format-image .entry-meta{font-size:12px}}article.format-image .entry-meta .ig-title{padding:0.5em 0}body.single article.format-image .entry-meta{color:#bdbdbd;padding-bottom:.5em}article.format-image .posted-on{display:inline;float:right;margin-bottom:0}article.format-standard .entry-title{background-color:#FFFFFF;margin-top:-0.5em;margin-bottom:0;z-index:7}@media screen and (min-width: 10em){article.format-standard .entry-title{padding:5px 10px}}@media screen and (min-width: 48em){article.format-standard .entry-title{padding:10px 15px}}body.archive article.format-standard .entry-title{margin-top:0;padding-left:0}article.format-video.type-post.archive{background-color:#f9f9f9}article.format-video p{margin:0}article.format-video .entry-content span{font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase}article.format-video .entry-footer{padding:1em}body.archive article.format-video .entry-footer{background-color:#f9f9f9;margin-bottom:1em;width:100%;text-align:left}article.format-video .entry-footer .btn-read-more{text-align:right}article.format-video .entry-header{font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;margin-bottom:0}@media screen and (min-width: 10em){body.single article.format-video .entry-header{margin-bottom:15px}}@media screen and (min-width: 48em){body.single article.format-video .entry-header{margin-right:15px;margin-bottom:0}}article.format-video .entry-thumbnail a{display:-webkit-flex;display:flex;-webkit-flex:1;flex:1;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center}article.format-video .posted-on{margin-bottom:0 !important}article.format-video .video-overlay{position:absolute;color:rgba(255,255,255,0.5);-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out}article.format-video .video-overlay:hover,article.format-video .video-overlay:focus{color:#FFFFFF}article.format-video .video-overlay:active{color:#269719}@media screen and (min-width: 10em){body.home .entry-content section{margin-bottom:0}}@media screen and (min-width: 48em){body.home .entry-content section{margin-bottom:0}}@media screen and (max-width: 47em){.news .entry-content{padding:0 1em}}.format-standard .entry-date{color:#f1f1f1;-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out;font-size:85%}.format-standard .entry-date:hover,.format-standard .entry-date:focus{color:#269719}.entry-footer{width:100%;max-width:700px;max-width:43em;max-width:17.5rem;margin-left:auto;margin-right:auto;position:relative;padding:0 1em 1em;background:transparent}@media screen and (max-width: 47em){.entry-footer{padding-left:15px;padding-right:15px}}.format-standard .entry-footer{padding:0}.format-image .entry-footer .btn-read-more{text-align:right}body.home .entry-footer{padding:0}@media screen and (max-width: 47em){body.archive .entry-footer{margin-bottom:1em;text-align:center;display:block;margin-left:auto;margin-right:auto}}@media screen and (min-width: 48em){body.archive .entry-footer{float:right;width:20%;text-align:right}}.entry-header{position:relative;margin:0 0 1.5em}body.home .entry-header{margin:0}.entry-header.no-thumbnail .entry-title{margin-top:0}.entry-meta:not(article.post){margin:0}.entry-thumbnail{position:relative}.entry-thumbnail img{margin-left:auto;margin-right:auto;display:block}.sticky{display:block}body.home .hentry{margin:0}section:focus{outline:none}body.page-template-page-flexbox section{display:-webkit-flex;display:flex}@media screen and (max-width: 47em){section.flexbox-section{background-attachment:scroll !important}}body.single iframe{display:block;margin-left:auto;margin-right:auto;margin-top:1em;margin-bottom:1em}.single .byline,.group-blog .byline{display:inline}.page-content,.entry-summary{margin:0 0 1.5em}body.home .page-content,body.home .entry-summary{margin:0}body.home .page-content p,body.home .entry-summary p{width:100%;max-width:100%}.page-links{clear:both;margin:0 0 1.5em}body.archive .page-title{text-align:center}.fa.fa-thumb-tack.sticky-post{padding:1em;background-color:#f1f1f1;position:absolute;top:0;right:0;z-index:9999}.singleColumn{width:100%;max-width:700px;max-width:43em;max-width:17.5rem;margin-left:auto;margin-right:auto}@media screen and (max-width: 47em){.singleColumn{padding-left:15px;padding-right:15px}}.singleColumn img.image{display:block;margin-left:auto;margin-right:auto;padding-bottom:1em}article.post .singleColumn img.image{padding-bottom:0}figure{margin:0}.cat-links,.tags-links,.comments-link{padding-right:13px}.tags-links{color:#269719;-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out}.tags-links:hover,.tags-links:focus{color:#1e7914}.tags-links a{color:#269719;margin-right:3px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:transparent;-moz-transition:color 250ms ease-out,border-bottom-color 250ms ease-out;-o-transition:color 250ms ease-out,border-bottom-color 250ms ease-out;-webkit-transition:color 250ms ease-out,border-bottom-color 250ms ease-out;transition:color 250ms ease-out,border-bottom-color 250ms ease-out}.tags-links a:hover,.tags-links a:focus{color:#1e7914;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#1e7914}.tags-links a:active{background-color:#269719;color:#FFFFFF}.posted-on{display:block;margin-bottom:1em}.posted-on a{color:#585858}.posted-on .updated{display:none}.navbar-super-widget{font-size:14px;font-size:4vw;color:#acacac;text-align:right;padding:3px 0}@media (max-width: 175px){.navbar-super-widget{font-size:7px}}@media (min-width: 275px){.navbar-super-widget{font-size:11px}}nav#site-navigation{background-origin:border-box;background-position:center center;background-repeat:no-repeat;background-size:cover}footer{color:#404040}footer .footer-nav ul{font-family:"adelle-sans",Arial,sans-serif;list-style-type:none;padding-left:0}footer.site-footer{background-color:#000000;color:#FFFFFF}footer.site-footer a{color:rgba(255,255,255,0.8);-moz-transition:color 250ms ease-out;-o-transition:color 250ms ease-out;-webkit-transition:color 250ms ease-out;transition:color 250ms ease-out}footer.site-footer a:hover,footer.site-footer a:focus{color:#269719;transition-timing-function:ease-in}footer.site-footer a:active{color:#103f0b}footer .site-name{text-transform:uppercase;font-size:0.5em;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:.7}li.fb-icon:before{content:"\f230";font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:8px}li.is-icon:before{content:"\f16d";font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:8px}li.tw-icon:before{content:"\f081";font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:8px}.blog .format-aside .entry-title,.archive .format-aside .entry-title{display:none}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.comments-title{font-size:16px;font-size:4vw}@media (max-width: 250px){.comments-title{font-size:10px}}@media (min-width: 400px){.comments-title{font-size:16px}}.comments-area{width:100%;max-width:700px;max-width:43em;max-width:17.5rem;margin-left:auto;margin-right:auto}@media screen and (max-width: 47em){.comments-area{padding-left:15px;padding-right:15px}}.comment-author{display:block;float:left;padding-right:3px}.comment-list{list-style-type:none;padding-left:0}.comment-metadata{display:none}.says{display:none}b.fn a{font-family:"hwt-artz",Arial,sans-serif}table{margin:0 0 1.5em;width:100%;-moz-transition:opacity 500ms ease-out 100ms;-o-transition:opacity 500ms ease-out 100ms;-webkit-transition:opacity 500ms ease-out;-webkit-transition-delay:100ms;transition:opacity 500ms ease-out 100ms}table.schedule td{padding:10px}table.schedule td:first-child::before{content:'\f017';display:inline-block;padding:0 5px;font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:5px;vertical-align:top;-webkit-font-smoothing:antialiased;border-bottom:none}table.schedule tr{border-bottom:1px solid #1b6b12}.woo-category-tab-wrapper{-moz-transition:all 250ms ease-out 50ms;-o-transition:all 250ms ease-out 50ms;-webkit-transition:all 250ms ease-out;-webkit-transition-delay:50ms;transition:all 250ms ease-out 50ms}.nav-tabs{border:none;margin:0}.nav-tabs li{white-space:nowrap}.nav-tabs li a{font-size:0.6em;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;background-color:#1b6b12;-moz-transition:background-color,200ms;-o-transition:background-color,200ms;-webkit-transition:background-color,200ms;transition:background-color,200ms;color:#fff !important;text-transform:uppercase}.nav-tabs li a:hover,.nav-tabs li a:focus{background-color:#269719;color:#fff !important;-webkit-tap-highlight-color:#269719;border:1px solid transparent;border-bottom:1px solid #269719}.nav-tabs li a:visited{color:#fff !important}.nav-tabs li.active a{background-color:#269719;color:#FFFFFF;border:1px solid transparent;border-bottom-color:#269719}.nav-tabs li.active a:hover{background-color:#1b6b12;color:#FFFFFF;-webkit-tap-highlight-color:#269719;border:1px solid transparent;border-bottom:1px solid #269719}.nav-tabs li.active a:focus,.nav-tabs li.active a:active{background-color:#269719;border:1px solid transparent;border-bottom-color:#269719}.nav-tabs .active a{border-top:solid 1px transparent;border-left:solid 1px transparent;border-right:solid 1px transparent;border-bottom:solid 1px #000;behavior:url("/bower_components/pie/PIE.htc");background-color:#000000}.nav-tabs .active a:hover,.nav-tabs .active a:focus{border-top:solid 1px transparent;border-left:solid 1px transparent;border-right:solid 1px transparent;border-bottom:solid 1px #269719;behavior:url("/bower_components/pie/PIE.htc")}.tabs-angled{-moz-transform:skewX(-14deg);-webkit-transform:skewX(-14deg);transform:skewX(-14deg);margin-left:5px}.tabs-angled:before{content:"";-moz-transform:skewX(14deg);-webkit-transform:skewX(14deg);transform:skewX(14deg)}.tab-content{position:relative;background-color:#269719;padding:1em}.tab-cat-thumb{height:auto;padding-right:5px}@media screen and (min-width: 10em){.tab-cat-thumb{width:180px}}@media screen and (min-width: 48em){.tab-cat-thumb{width:300px}}.cat-wrap{position:absolute;display:block;text-align:center;padding:0 10px 10px 10px;background:fade(#000, 50%);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid black;clear:both}.cat-wrap-clear{position:absolute;display:block;text-align:center;padding:0 10px 10px 10px;border:none;background:transparent}@media screen and (min-width: 10em){.cat-wrap-clear{width:90%;top:45%;left:50%;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%)}}@media screen and (min-width: 30em){.cat-wrap-clear{width:70%}}@media screen and (min-width: 10em){.cat-wrap{width:90%;bottom:5%;left:50%;-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%)}}@media screen and (min-width: 30em){.cat-wrap{width:70%}}.padding-sm{padding:.5em}.padding-sm-all{padding:.5em}.padding-sm-top-bottom{padding:.5em 0}.padding-sm-top{padding-top:.5em}.padding-sm-bottom{padding-bottom:.5em}.padding-sm-left{padding-left:.5em}.padding-sm-right{padding-right:.5em}.padding-md{padding:1.6em}@media screen and (max-width: 47em){.padding-md{padding:10px 0}}.padding-md-all{padding:1.6em}.padding-md-top-bottom{padding:1.6em 0}@media screen and (max-width: 47em){.padding-md-top-bottom{padding:10px 0}}.padding-md-top{padding-top:1.6em}@media screen and (max-width: 47em){.padding-md-top{padding-top:10px}}.padding-md-bottom{padding-bottom:1.6em}.padding-md-left{padding-left:1.6em}.padding-md-right{padding-right:1.6em}.padding-lg{padding:3.1em}.padding-lg-all{padding:3.1em}.padding-lg-top-bottom{padding:3.1em 0}.padding-lg-top{padding-top:3.1em}.padding-lg-bottom{padding-bottom:3.1em}.padding-lg-left{padding-left:3.1em}.padding-lg-right{padding-right:3.1em}.padding-xl{padding:4.6em}.padding-xl-all{padding:4.6em}.padding-xl-top-bottom{padding:4.6em 0}.padding-xl-top{padding-top:4.6em}.padding-xl-bottom{padding-bottom:4.6em}.padding-xl-left{padding-left:4.6em}.padding-xl-right{padding-right:4.6em}.padding-none{padding:0}.padding-none-top{padding-top:0 !important}.padding-bottom-none{padding-bottom:none !important}.padding-top-none,.padding-top-bottom-none{padding-top:0 !important}.padding-top-bottom-none{padding-bottom:0 !important}.padding-left-none{padding-left:none}.padding-right-none{padding-right:none}.margin-sm,.woocommerce.archive .term-description{margin:.5em}.margin-sm-all{margin:.5em}.margin-sm-top-bottom{margin:.5em 0}.margin-sm-top{margin-top:.5em}.margin-sm-bottom{margin-bottom:.5em}.margin-sm-left{margin-left:.5em}.margin-sm-right{margin-right:.5em}.margin-md{margin:1.6em}@media screen and (max-width: 47em){.margin-md{margin:10px 0}}.margin-md-all{margin:1.6em}.margin-md-top-bottom{margin:1.6em 0}@media screen and (max-width: 47em){.margin-md-top-bottom{margin:10px 0}}.margin-md-top{margin-top:1.6em}@media screen and (max-width: 47em){.margin-md-top{margin-top:10px}}.margin-md-bottom,.woocommerce.archive .wc-archive-hero-wrapper{margin-bottom:1.6em}.margin-md-left{margin-left:1.6em}.margin-md-right{margin-right:1.6em}.margin-lg{margin:3.1em}.margin-lg-all{margin:3.1em}.margin-lg-top-bottom{margin:3.1em 0}.margin-lg-top{margin-top:3.1em}.margin-lg-bottom{margin-bottom:3.1em}.margin-lg-left{margin-left:3.1em}.margin-lg-right{margin-right:3.1em}.margin-xl{margin:4.6em}.margin-xl-all{margin:4.6em}.margin-xl-top-bottom{margin:4.6em 0}.margin-xl-top{margin-top:4.6em}.margin-xl-bottom{margin-bottom:4.6em}.margin-xl-left{margin-left:4.6em}.margin-xl-right{margin-right:4.6em}.margin-none{margin:0}.margin-none-top{margin-top:0 !important}.margin-bottom-none{margin-bottom:none !important}.margin-top-none,.margin-top-bottom-none{margin-top:0 !important}.margin-top-bottom-none{margin-bottom:0 !important}.margin-left-none{margin-left:none}.margin-right-none{margin-right:none}.line-height-xxs{line-height:0.5}.line-height-xs{line-height:0.8}.line-height-s{line-height:1}.line-height-m{line-height:1.2}.line-height-l{line-height:1.4}.line-height-xl{line-height:1.6}.line-height-xxl{line-height:1.8}.grayImg,.tab-cat-thumb{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);-ms-filter:grayscale(100%);-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;-webkit-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}.grayImg:hover,.tab-cat-thumb:hover{filter:grayscale(0);-webkit-filter:grayscale(0);-moz-filter:grayscale(0);-o-filter:grayscale(0);-ms-filter:grayscale(0);-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}.no-border-bottom{border-bottom:none !important}.edit-link{position:fixed;bottom:10px;left:10px;z-index:9;padding:1em;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background-color:#269719}.flex,.flex-center-left,.flex-center-right{display:-webkit-flex;display:flex}.flex-center-left{-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-align-items:center;align-items:center}.flex-center-right{-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-justify-content:flex-end;justify-content:flex-end;-webkit-align-items:center;align-items:center;margin-left:auto}.full-width{width:100%;width:100vw;position:relative;left:50%;right:50%;margin:0 -100%;margin:0 -50vw}.height100{height:100%}.infinite-scroll .posts-navigation,.infinite-scroll .woocommerce-pagination,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.infinite-loader{margin-left:auto;margin-right:auto;padding:1em 0 3em 0}.woo-infinite-loader{background-color:#FFFFFF;position:fixed;bottom:0;height:0;-webkit-transition:all 250ms ease;width:100%;z-index:9;overflow-x:hidden;color:#404040;text-align:center;font-family:"hwt-artz",Arial,sans-serif;text-transform:uppercase;padding-left:8px}.woo-infinite-loader.show{height:50px;padding-top:10px;border-top:1px solid #269719}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}img.img-enhance-ui{position:relative}img.img-enhance-ui:before{content:" ";display:block;position:absolute;top:0;left:0;height:calc(100% + 45px);width:100%;background-color:#ebebeb;border:2px dotted #c8c8c8;border-radius:5px}img.img-enhance-ui:after{content:"" " Broken Image (" attr(alt) ")";display:block;font-size:14px;font-style:normal;font-family:FontAwesome;color:#646464;position:absolute;top:5px;left:0;width:100%;text-align:center}.appear{opacity:1}.wp-caption{position:relative;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption-text{text-align:left;padding:0 1em;font:Arial,sans-serif;position:absolute;bottom:2em}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.instagram-comments-likes-wrapper{position:relative;display:block;display:-webkit-flex;display:flex;height:100%}.instagram-comments-likes-wrapper span.glyphicon{top:4px}.instagram-likes,.instagram-comments{cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;display:inline-block;padding-left:0.5em;line-height:1}.instagram-likes-wrapper{float:left}.instagram-comments-wrapper{float:left;padding-left:1em}.instagram-date{float:right;margin-left:auto}.instagram-title{clear:both;margin:0.5em 0;line-height:1.5}.front{position:relative;margin:0 auto;width:100%;max-width:300px;height:100%;cursor:default;-moz-transition:all 250ms;-o-transition:all 250ms;-webkit-transition:all 250ms;transition:all 250ms}.front:hover .back,.front:focus .back,.front:active .back{opacity:1}.front:active .back{color:#FFFFFF;background-color:rgba(38,151,25,0.5)}.front img{max-width:300px;margin:0 auto}.back{opacity:0;background-color:rgba(0,0,0,0.5);color:#FFFFFF;-moz-transition:all 250ms;-o-transition:all 250ms;-webkit-transition:all 250ms;transition:all 250ms;width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;padding:1em}.back a{color:#FFFFFF}.back a:hover,.back a:focus,.back a:visited{color:#FFFFFF}.format-image.type-post{background-color:#f9f9f9}body.single-post .format-image.type-post{background:transparent}@media screen and (min-width: 48em){body.single-post .format-image.type-post{height:600px}}@media screen and (min-width: 48em){body.single-post .format-image.type-post .entry-header{height:100%}}@media screen and (min-width: 10em){body.single-post .format-image.type-post{padding-left:15px;padding-right:15px}}@media screen and (min-width: 48em){body.single-post .format-image.type-post{width:100%;padding-left:0;padding-right:0}}body.single-post .format-image.type-post .entry-thumbnail{background-color:#f9f9f9}body.single-post .format-image.type-post .entry-thumbnail img{width:auto;max-height:600px}body.single-post .format-image.type-post .entry-footer .instagram-comments-likes-wrapper{margin:10px 0;padding:10px 0;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1}@media screen and (min-width: 37.5em){.format-image .image-content-container{width:335px;min-width:335px;height:600px;overflow-y:scroll}.format-image .image-content-container .entry-footer{padding:0}}#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999999}#loader{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#31c320;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:9999991}#loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#269719;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}#loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#1b6b12;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}}#loader-wrapper .loader-section{position:fixed;top:0;width:51%;height:100%;background:#000000;z-index:1000;-moz-transform:translateX(0);-ms-transform:translateX(0);-webkit-transform:translateX(0);transform:translateX(0)}#loader-wrapper .loader-section.section-left{left:0}#loader-wrapper .loader-section.section-right{right:0}.loaded #loader-wrapper .loader-section.section-left{-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-webkit-transform:translateX(-100%);transform:translateX(-100%);-moz-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;-o-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;-webkit-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-transition-delay:.3s;transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s}.loaded #loader-wrapper .loader-section.section-right{-moz-transform:translateX(100%);-ms-transform:translateX(100%);-webkit-transform:translateX(100%);transform:translateX(100%);-moz-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;-o-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s;-webkit-transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-transition-delay:.3s;transition:all .7s cubic-bezier(0.645, 0.045, 0.355, 1) .3s}.loaded #loader{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-moz-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;transition:all 300ms ease-out}.loaded #loader-wrapper{visibility:hidden;-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-webkit-transform:translateY(-100%);transform:translateY(-100%);-moz-transition:all 300ms ease-out 1s;-o-transition:all 300ms ease-out 1s;-webkit-transition:all 300ms ease-out;-webkit-transition-delay:1s;transition:all 300ms ease-out 1s}.no-js #loader-wrapper{display:none}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}.grid:after{content:'';display:block;clear:both}.grid-item{float:left;margin-bottom:10px;font-size:12px;font-size:3vw}@media (max-width: 266.66667px){.grid-item{font-size:8px}}@media (min-width: 533.33333px){.grid-item{font-size:16px}}.grid-item img{display:block;max-width:100%}.gutter-sizer{width:1%}.grid-sizer,.grid-item{padding:0.5em}@media screen and (min-width: 10em){.grid-sizer,.grid-item{width:49.5%}}@media screen and (min-width: 62em){.grid-sizer,.grid-item{width:32.66667%}}@media screen and (min-width: 75em){.grid-sizer,.grid-item{width:24.25%}}a.fasc-button{border-bottom:none !important;text-shadow:0px 1px 2px #040404;font-family:"hwt-artz",Arial,sans-serif;letter-spacing:2px}.flickity-page-dots .dot{background:#FFFFFF}@media screen and (max-width: 29em){.cart-badge{display:none}}.avatar_container{display:inline-block}.avatar_container img{border:none;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin-top:-7px;padding:0;-moz-transition:padding 200ms ease-out;-o-transition:padding 200ms ease-out;-webkit-transition:padding 200ms ease-out;transition:padding 200ms ease-out}@media screen and (min-width: 10em){.avatar_container img{padding:2px;margin-right:0}}@media screen and (min-width: 40em){.avatar_container img{margin-right:5px}}li.widget_wp_sidebarlogin{float:left}ul.sidebar_login_links li{text-transform:uppercase}ul.sidebar_login_links li a:hover,ul.sidebar_login_links li a:focus,ul.sidebar_login_links li a:active{background-color:transparent}@media screen and (min-width: 10em){ul.sidebar_login_links.dropdown-menu>li{position:relative}ul.sidebar_login_links.dropdown-menu>li>a{padding:5px 10px !important}}a.sidebar_logged_out_title{text-transform:uppercase;-moz-transition:background-color,250ms,100ms;-o-transition:background-color,250ms,100ms;-webkit-transition:background-color,250ms,100ms;transition:background-color,250ms,100ms}@media screen and (min-width: 62em){#mover.stuck a.sidebar_logged_out_title{padding:10px}}a.sidebar_logged_out_title:focus{outline:none}a.sidebar_logged_out_title:active{background-color:#1e7914 !important;color:rgba(255,255,255,0.5) !important;border:2px solid rgba(255,255,255,0.5) !important}a.dropdown-toggle{width:auto}@media screen and (min-width: 10em){span.sidebar_logged_in_title{display:none}}@media screen and (min-width: 40em){span.sidebar_logged_in_title{display:inline-block;margin-right:5px}}.modal-header{background-color:#269719}.modal-header .close{color:#103f0b;font-size:2em;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}h4.modal-title{color:#FFFFFF;float:left;clear:none;border-bottom:none !important;text-shadow:0px 1px 2px #040404}body.logged-out .modal #loginform{width:320px;margin:0 auto}body.logged-out .modal #loginform p{text-align:left}body.logged-out .modal #loginform label{display:block;font-size:85%;color:#496b45}body.logged-out .modal ul.sidebar_login_links{list-style-type:none;background-color:transparent;margin-left:0;padding:1em}body.logged-out .modal ul.sidebar_login_links li{display:inline-block}body.logged-out .modal ul.sidebar_login_links li:not(:last-child):after{content:'|';padding-left:10px}body.logged-out .modal ul.sidebar_login_links li a{color:#93cb8c}body.logged-out .modal ul.sidebar_login_links li a:hover,body.logged-out .modal ul.sidebar_login_links li a:focus{color:#269719}.site-main.infinite-loading{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=33);opacity:.33}.site-main.infinite-loading:after{content:'\f110';font-family:FontAwesome;display:inline-block;padding:0 5px;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:5px;vertical-align:top}#eu-cookie-law{background-color:var(--primary-color, #269719) !important}table.tablepress{margin-bottom:1em;width:100% !important;-moz-transition:opacity 500ms ease-out 100ms;-o-transition:opacity 500ms ease-out 100ms;-webkit-transition:opacity 500ms ease-out;-webkit-transition-delay:100ms;transition:opacity 500ms ease-out 100ms}table.tablepress.ready{opacity:1}table.tablepress .sorting{-moz-transition:background-color,250ms;-o-transition:background-color,250ms;-webkit-transition:background-color,250ms;transition:background-color,250ms}table.tablepress .sorting:hover,table.tablepress .sorting:focus{background-color:#269719;color:#FFFFFF}table.tablepress .sorting_asc,table.tablepress .sorting_desc{background-color:#eee}table.tablepress tfoot th,table.tablepress thead th{background-color:#fff;text-align:center}table.tablepress tbody tr{background-color:#fff}table.tablepress tbody tr:last-child td{border-bottom:1px solid #ddd}table.tablepress tbody tr td{-moz-transition:background-color 250ms ease-out;-o-transition:background-color 250ms ease-out;-webkit-transition:background-color 250ms ease-out;transition:background-color 250ms ease-out;text-align:center;font-size:5vw}@media (max-width: 120px){table.tablepress tbody tr td{font-size:6px}}@media (min-width: 280px){table.tablepress tbody tr td{font-size:14px}}table.datatable{width:100% !important}.tablepress-table-name{text-align:left;margin:0 0 15px}@media screen and (min-width: 10em){.dataTables_length,.dataTables_filter{font-size:12px}}@media screen and (min-width: 30em){.dataTables_length,.dataTables_filter{font-size:18px}}.dataTables_wrapper .tablepress{margin-left:auto !important;margin-right:auto !important}body.home .tablepress .row-hover tr:hover td{background-color:#333333}table.startlist a,table.standings a{border-bottom:none;content:'';-moz-transition:color,200ms;-o-transition:color,200ms;-webkit-transition:color,200ms;transition:color,200ms}table.startlist a:hover,table.startlist a:focus,table.standings a:hover,table.standings a:focus{color:#FC4C02;border-bottom:none}body.home table.startlist a:hover,body.home table.startlist a:focus,body.home table.standings a:hover,body.home table.standings a:focus{color:#FC4C02}table.startlist a::before,table.standings a::before{content:'\f19a';display:inline-block;padding:0 5px;font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;padding-right:5px;vertical-align:top;-webkit-font-smoothing:antialiased;border-bottom:none}table.startlist a[href*="wordpress.org"]::before,table.standings a[href*="wordpress.org"]::before{content:'\f19a'}.cat-btn{position:absolute;bottom:0;margin:0;width:100%;text-transform:uppercase;text-shadow:0px 1px 2px #040404;white-space:normal;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;color:fade(#fff, 90%) !important}.cat-btn:hover,.cat-btn:focus{color:#fff !important}.cat-feature-image{position:relative}.cat-intro-desc{color:white;text-shadow:0px 1px 2px #040404;-moz-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;transition:all 1s;clear:both}@media screen and (min-width: 10em){.cat-intro-desc{display:none}}@media screen and (min-width: 62em){.cat-intro-desc{display:block}}.cat-title{width:100%;z-index:1;text-shadow:0px 1px 2px #040404;color:#fff !important;cursor:pointer;-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none}.cat-title.tab-content-title{position:absolute;bottom:0;border-bottom:none;text-align:center}.woo-category-tab-wrapper{margin:0 1em 1em}.woo-category-list-wrapper{margin:1em}.woo-category-list-wrapper a{background-color:#269719;border-color:#1b6b12}.woo-category-list-wrapper a:hover{background-color:#1b6b12}.woo-category-list-wrapper a:focus,.woo-category-list-wrapper a:active{background-color:#103f0b}.woo-category-list-wrapper a span{float:right}ol.breadcrumb{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;background-color:transparent;text-transform:uppercase;margin-bottom:0;color:#fff !important;font-size:8px;font-size:1.1vw}@media (max-width: 727.27273px){ol.breadcrumb{font-size:8px}}@media (min-width: 1090.90909px){ol.breadcrumb{font-size:12px}}ol.breadcrumb li{color:#FFFFFF;text-shadow:0px 1px 2px #040404}ol.breadcrumb li a{color:#e7e7e7 !important}ol.breadcrumb li a:hover,ol.breadcrumb li a:focus{color:#fff !important}.breadcrumb-bg{background-color:#269719;background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2OTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiNmIxMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size:100%;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #269719),color-stop(100%, #1b6b12));background-image:-moz-linear-gradient(#269719,#1b6b12);background-image:-webkit-linear-gradient(#269719,#1b6b12);background-image:linear-gradient(#269719,#1b6b12)}p.demo_store{position:fixed;bottom:0}.admin-bar p.demo_store{top:auto}.woocommerce-tabs h1,.woocommerce-tabs h2,.woocommerce-tabs h3{color:#404040}.pp_woocommerce .ppt{display:none !important}.single-product>.page-container>#container{background:#FFFFFF}@media screen and (min-width: 10em){.shop-category{margin-top:20px}}@media screen and (min-width: 30em){.shop-category{margin-top:40px}}.shop-category span.amount{-moz-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;transition:all 1s;text-shadow:0px 1px 2px #040404}@media screen and (min-width: 10em){.shop-category span.amount{font-size:32px}}@media screen and (min-width: 30em){.shop-category span.amount{font-size:54px}}.shop-category .variations label{color:#333333}.woocommerce.archive .wc-archive-hero-wrapper{position:relative;background-color:#000000;background-repeat:no-repeat;background-clip:border-box;-moz-transition:min-height 250ms;-o-transition:min-height 250ms;-webkit-transition:min-height 250ms;transition:min-height 250ms;display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center;-webkit-align-items:flex-start;align-items:flex-start}@media screen and (min-width: 10em){.woocommerce.archive .wc-archive-hero-wrapper{background-attachment:scroll;background-position:center center;min-height:320px}}@media screen and (min-width: 48em){.woocommerce.archive .wc-archive-hero-wrapper{background-position:center center;min-height:500px}}@media screen and (min-width: 68.75em){.woocommerce.archive .wc-archive-hero-wrapper{background-attachment:scroll;min-height:900px}}.woocommerce.archive .wc-archive-hero-wrapper .page-title{margin:5px 8px 0;padding:0 10px}.woocommerce.archive .term-description{padding:5px 10px;text-shadow:0px 1px 2px #040404;font-size:12px;font-size:4vw}@media (max-width: 200px){.woocommerce.archive .term-description{font-size:8px}}@media (min-width: 350px){.woocommerce.archive .term-description{font-size:14px}}@media screen and (min-width: 10em){.woocommerce.archive .term-description{width:100%;-moz-transition:width 250ms ease-out;-o-transition:width 250ms ease-out;-webkit-transition:width 250ms ease-out;transition:width 250ms ease-out}}@media screen and (min-width: 48em){.woocommerce.archive .term-description{width:33.3333%}}.woocommerce-checkout #payment{background:#f8f8f8}.woocommerce form .form-row .input-checkbox{position:relative}.woocommerce .input-text{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:3px}.woocommerce div.product div.images{margin:1em auto}@media screen and (max-width: 47em){.woocommerce div.product div.images{background-color:#acacac}}@media screen and (min-width: 48em){.woocommerce div.product div.images{margin-bottom:0;padding-right:15px;display:-webkit-flex;display:flex;-webkit-flex:1 1 auto;flex:1 1 auto;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:flex-start;justify-content:flex-start}.woocommerce div.product div.images img{display:block;margin-left:auto;margin-right:auto}}@media screen and (max-width: 47em){.woocommerce div.product div.images .flex-control-nav{display:none}}.woocommerce div.product div.images .flex-control-thumbs li{padding:5px}.woocommerce-ordering{padding-right:4px}.woocommerce .page-title{text-decoration:none;border-bottom:none;background-color:#eee;padding:20px 15px}.woocommerce .site-content{padding-left:15px;padding-right:15px;margin:0}@media screen and (min-width: 48em){.woocommerce div.product{display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between}}@media screen and (min-width: 48em){.woocommerce .summary{margin:1em auto;padding-right:15px}}.woocommerce ul.products li.product a img:hover,.woocommerce ul.products li.product a img:focus{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:.5}.woocommerce ul.products li.product .button{width:100%;text-align:center;font-size:2vw}@media (max-width: 300px){.woocommerce ul.products li.product .button{font-size:6px}}@media (min-width: 700px){.woocommerce ul.products li.product .button{font-size:14px}}@media screen and (min-width: 10em){.woocommerce-product-search #woocommerce-product-search-field{width:2em;-moz-transition:width 250ms ease-out;-o-transition:width 250ms ease-out;-webkit-transition:width 250ms ease-out;transition:width 250ms ease-out}.woocommerce-product-search #woocommerce-product-search-field:active,.woocommerce-product-search #woocommerce-product-search-field:focus{width:10em;transition-duration:ease-in}}@media screen and (min-width: 48em){.woocommerce-product-search #woocommerce-product-search-field{width:10em}}.woocommerce-product-search #woocommerce-product-search-field.search-field{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px}.input-group .input-group-btn{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}ul.woo-call-to-action-list{list-style-type:none;margin:0;padding:0;color:#1b6b12;text-shadow:0px 1px 2px #040404;-moz-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;transition:all 1s;font-family:"hwt-artz",Arial,sans-serif}@media screen and (min-width: 10em){ul.woo-call-to-action-list .fa{margin-right:0}}@media screen and (min-width: 30em){ul.woo-call-to-action-list .fa{margin-right:9px}}ul.woo-call-to-action-list .svg{display:block !important;-webkit-filter:drop-shadow(0 1px 2px rgba(0,0,0,0.35));filter:drop-shadow(0 1px 2px rgba(0,0,0,0.35));position:absolute}@media screen and (min-width: 10em){ul.woo-call-to-action-list .svg{width:1.28571429em;height:auto;top:11px;left:40%}}@media screen and (min-width: 30em){ul.woo-call-to-action-list .svg{left:45%}}@media screen and (min-width: 48em){ul.woo-call-to-action-list .svg{width:25px;top:10px;left:10px}}ul.woo-call-to-action-list .sizing-icon{fill:transparent !important}ul.woo-call-to-action-list .sizing-icon:hover,ul.woo-call-to-action-list .sizing-icon:focus{fill:#269719}ul.woo-call-to-action-list .sizing-icon-fill{fill:#1b6b12;-moz-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;transition:all 1s}ul.woo-call-to-action-list .sizing-icon-fill:hover,ul.woo-call-to-action-list .sizing-icon-fill:focus{fill:#269719}ul.woo-call-to-action-list a{color:#1b6b12}ul.woo-call-to-action-list a:hover,ul.woo-call-to-action-list a:focus{color:#269719}@media screen and (min-width: 10em){ul.woo-call-to-action-list a{margin:0;padding:0;font-size:200%}}@media screen and (min-width: 48em){ul.woo-call-to-action-list a{padding:10px 0;font-size:120%}}ul.woo-call-to-action-list li{padding-top:0}ul.woo-call-to-action-list li a:hover,ul.woo-call-to-action-list li a:focus{background-color:transparent !important}ul.woo-call-to-action-list li#svg-item{list-style-image:url("/wp-content/themes/vie13-v2//assets/images/very-basic-ruler.svg");list-style-position:outside}.woo-feature-bloc{background:#f8f8f8;color:#333333;padding:0 0 40px 0;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}.woo-materials-list{list-style-type:none;margin:0;padding:0}.woo-materials-list li{display:list-item;width:50%;padding-right:2%;margin-bottom:1em}.woo-materials-list li:nth-child(even){padding-right:0}.woo-materials-list li:last-child{padding-right:0}.woo-materials-list li img.woo-material-list-image{height:auto}@media screen and (min-width: 10em){.woo-materials-list li img.woo-material-list-image{width:44px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;border-radius:5px 0 0 5px;float:left}}@media screen and (min-width: 62em){.woo-materials-list li img.woo-material-list-image{width:90px}}.woo-materials-list li .woo-materials-list-text{display:inline-block;padding-left:0.5em;background-color:#f9f9f9}@media screen and (min-width: 10em){.woo-materials-list li .woo-materials-list-text{width:calc(100% - 44px);min-height:44px}}@media screen and (min-width: 48em){.woo-materials-list li .woo-materials-list-text{width:calc(100% - 90px);min-height:90px}}.woo-materials-list li .woo-materials-list-text h4{font-size:16px;border-bottom:none}@media screen and (min-width: 10em){.woo-materials-list li .woo-materials-list-text h4{margin:3px 0 5px 0}}.woo-materials-list li .woo-materials-list-text p{font-size:10px}
