p {
	&.lead {
		font-weight: 100;
	}
	@extend .h6; //get responsive text sizing
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 1em 40px;
	color: $color_base;
	background: lighten($color__background-screen, 3%);
	font: $font__heading;
	
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big, .big {
	font-size: 125%;
}

.font-body {
	font-family: $font__main;
}

// For wrapping text with highlight and keeping padding left and right
// ref: http://codepen.io/hotmeteor/pen/ibvJs

$pad-wide: 20px;
$highlight: transparentize(#000000, 0.33);
$highlight-text-color: #fff;
$title-pad: 0.25em;
$title-lineheight: $title-pad + 1;

// Makes a 50% black background
.bg-fade-dark {
    background: transparentize(#000000, .5);
    color: $highlight-text-color;
}

  
  .highlight {
    display: inline-block;
    @extend .bg-fade-dark; 
    padding: $title-pad;
  }

  .highlight--wrapping {
    position: relative;
    // left: $title-pad;
    // padding-left: 0;
    box-shadow: $title-pad 0 0 $highlight,  
                $title-pad*-1 0 0 $highlight;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

  }