h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $font__heading;
	a {
		border-bottom: none!important; //force this because the theme underlines all headings
	}
	body.home & { //mixin located in /mixins/mixins-master.scss
		@include heading_border(home);
	}
	@include heading_border(none);
	@include transition(font-size 200ms)
}

h1, .h1 {
	@include responsive-font(4vw, 24px, 50px, 40px);
}

h2, .h2 {
	@include responsive-font(4vw, 20px, 40px, 32px);
}

h3, .h3 {
	@include responsive-font(4vw, 18px, 32px, 28px);
}

h4, .h4 {
	@include responsive-font(4vw, 16px, 24px, 24px);
}

h5, .h5 {
	@include responsive-font(4vw, 14px, 18px, 20px);
}

h6, .h6 {
	@include responsive-font(4vw, 10px, 16px, 16px);
}

.font-heading {
	font-family: $font__heading;
}