// @import "../../bower_components/modular-scale/stylesheets/modular-scale";

// Responsive text size: https://github.com/AllThingsSmitty/css-protips#use-root-for-flexible-type
:root {
  font-size: calc(1vw + 1vh + 0.5vmin);
}

body {
	@include responsive-font(5vw, 8px, 16px);
}

body,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	font-weight: 400;
	font-style: normal;
	
}

button {
	font: $font__heading;
}

::selection {
    background: $color_base;
    color: #fff;
    text-shadow: none;
}

// Shadow variables set in variables-site/typography 

.text-shadow {
    @include single-text-shadow();
    behavior: url($path-pie);
}

.text-light {
	color: $color__text-light;
}

.text-dark {
	color: $color__text-main;
}

@import "headings";
@import "copy";