#carousel-wrapper {
    position: relative;
    clear: both;
    z-index: $z - 9;
    min-height: 500px;

    height: 1px; //allows the transition to occur. Otherwise, jumps.
    @include single-transition(height 200ms ease-out);
    //height is calculated by jquery.styles.js setCarouselHeight function
    
    &-fixed {
        @include aspect-ratio(16, 9);
        clear: both;
        z-index: $z - 9;
        max-height: 500px;
        .fill { // fill is in the mixin for the aspect-ratio. You can use this to add to the fill, like add an animation effect to the slides.
            
        }
        iframe, object, embed { // this is just the container of the video. To actually make the video cover the background, we have to use javascript to target the width and height attributes.
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
#carousel-header {
    display: block;
    height: 100%;
    position: absolute; //because we make this the background. Change to relative if want to be part of the page flow.
    top:0; //required for position: absolute. Delete for relative.
    width: 100%; //required for position:absolute. Delete for relative.
    z-index: -$z - 9; //required for position:absolute. Delete for relative.
    overflow: hidden;
    background-color: #000000;
    background-size: cover;
    background-position: center center;
    &-fixed {
        @extend #carousel-header;
    }
}

#video-container {
    @include aspect-ratio(16, 9);
}

.carousel {
    &-control {
        z-index: $z + 20; //at least 1 higher than #carousel-wrapper
        
        width: auto;
        
        //margin-top is calculated by jquery.styles.js setCarouselNavMargin function
        @include transition(all, 200ms);
        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
        &.left, &.right {
            top: 50%;
            &:hover {
                @include opacity(0.9);
            }
            background-image: none; // cancel bootstrap
        }
        > .glyphicon {
                padding: 10px;
                background-color: #333;
                &:hover, &:focus {
                    background-color: $color_base;
                }
                &:active {
                    background-color: $darken2;
                }
        }
    }
    &-inner {
        height: 100%;
    }
}


.carousel-inner > .item > img, 
.carousel-inner > .item > a > img,

{
    display: block;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    right: 0;
    top: 0;
    
}

// FADE SLIDE ON CAROUSEL
// NEED TO ADD CLASS 'carousel-fade' to carousel
// ref: http://stackoverflow.com/questions/9526970/can-the-twitter-bootstrap-carousel-plugin-fade-in-and-out-on-slide-transition
// ref: http://codepen.io/Rowno/pen/Afykb

.carousel-fade {
    .carousel-inner,
    .carousel-inner-fixed {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

.carousel,
.item,
 {
    height: 100%;
    @include at-least($bp-xs){
        opacity: 0.5;
    }
    @include at-least($bp-md){
        opacity: 1;
    }
}