// CONTENT OVERLAY SECTION

.overlay-content-wrapper {
    min-height: 100%;
    z-index: $z - 3;
    @include at-least($bp-xs) {
        position: absolute;
    }
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .text-light {
        color: #FFFFFF;
        a {
            color: #FFFFFF;
            &:hover, &:focus {
                color: $color_base;
            }
            &:active {
                color: $darken1;
            }
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        line-height: 1;
    }
    &-flexbox {
        @extend .overlay-content-wrapper;
        @include display-flex;
        @include flex-direction(column);
        
        > section {
            @include display-flex;
            @include flex(1 1 auto);
            @include flex-direction(column);
            @include justify-content(center);
            > div {
                @include display-flex;
                @include flex(1 1 auto);
                //overflow-y: scroll; // causes scrollbars in some browsers. Issue #118
                > div {
                    @include display-flex;
                    @include flex(1 1 auto);
                    //overflow-y: scroll; // causes scrollbars in some browsers. Issue #118
                }
            }
        }
        
            img {
                @include until ($bp-md){
                    max-width: 80px;
                    height: auto;
                }
            }
        
    }
}

.top-content-box {
     @include box-shadow(rgba(0, 0, 0, 0.75)0 20px 20px -20px inset);
    background-color: #FBAF17;
}

.overlay-d {
    //@include display-flex;
    //@include justify-content(space-between);
}

.overlay-main-content {
    
    @include at-least($bp-xs){
        @include flex(0 auto);
        //min-width: 100%;
    }
    @include at-least($bp-md){
        
    }
    @include justify-content(center);
    @include display-flex;
    overflow: hidden;
    //background: tint(blue, .5);
    
    &-hg { //Holy Grail layout specific
        @extend .overlay-main-content;
        @include at-least ($bp-md) {
            @include flex (3 0 0); // on desktop, should be 3x wider than other content
        }  
    }
    &-lc {
        @extend .overlay-main-content;
        @include at-least($bp-xs){
            //width: 70%;
            @include flex (1 auto);
        }
        @include at-least($bp-sm){
            width: 60%
            } 
        @include until($bp-600){
            width: 60%
        }
        @include at-least ($bp-md) {
            @include flex (3 0 0); // on desktop, should be 3x wider than other content
        }
    }
}



.left-content-box {
    
    padding: 1em;
    font-family: $font__homepage_overlay;
    text-transform: uppercase;
    color: #FFFFFF;
    .no-flexbox & {
        position: absolute;
        top: 41px;
    }
    @include at-least($bp-xs){
        text-align: center;
    }
    @include at-least($bp-md){
        text-align: left;
        
    }
    

    p {
        width: 100%; //allows text-align rules to work in editor
        //font-size: ms(1);
        line-height: 1;
    }
    h1, h2, h3 {
        border-bottom: none;
        padding: 0;
        margin: 0;
        body.home & {
            border-bottom: none;
        }
    }
}

.right-content-box {
    @extend .left-content-box;
    
    @include at-least($bp-40){
        text-align: right;
    }
    .no-flexbox & {
        @include at-least($bp-600){
            right: 0;
        }
    }
}

.bottom-content-box {
    .no-flexbox & {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px; //matches sponsors inline. Style these in rhc-sponsors-plugin/sass/no-flexbox.scss
    }
}


.overlay-aside { 

    padding: 10px;

    img {
        @include at-least($bp-600){
            max-width: 200px;
        }
        height: auto;
    }
    //background: tint(green, .5);
    &-hg { // Holy Grail Layout
        @extend .overlay-aside;
        @include at-least($bp-600){
            @include flex (0 auto);
            min-width: 50%;
        }
        @include at-least($bp-md){
            min-width: 22%;
        }
    }
    &-lc { // Left and Center Layout
        @extend .overlay-aside;
        @include at-least($bp-xs) {
            @include flex (1 auto);

        }

        @include at-least($bp-600){
            @include flex(0 auto);
            min-width: 22%;
        }
        > .seriesGraphicSmallDevice {
            @include at-least($bp-xs){
                max-width: 100%;
                padding: 0 8em 2em;
                
                img {
                    margin: 0 auto;
                }

            }
        }
    }
}

.content_area_post_race {
    &_top {
        
        h1 {
            margin-top: 0.25em;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0.25em;
        }
        p {
            margin: 0;
        }

    }
    &_bottom {
        padding: 0.5em;
    }
}

///////////////////////////////// ORDERS FOR DESKTOP
@include at-least($bp-40) {
    .left-content-box               { order: 1; } 
    .overlay-main-content-hg, .overlay-main-content-lc        { order: 2; }
    .right-content-box              { order: 3; }
    .bottom-content-box             { order: 4; }
}
@include at-least($bp-md) {
    .left-content-box               { order: 1; } 
    .overlay-main-content-hg, .overlay-main-content-lc        { order: 2; }
    .right-content-box              { order: 3; }
    .bottom-content-box             { order: 4; }
}

///////////////////////////////// SLIDE CAPTION

#slidecaption {
    font-family: $font__homepage_overlay;
    text-transform: uppercase;
    line-height: 1;
    
    @include at-least($bp-xs){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        color: #fff;        
        @include single-text-shadow;
    }
    @include at-least($bp-40){
        float: left;
        clear: both;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}

///////////////////////////////// Carousel Overlay Text Overrides

// Side-bySide buttons
.side-by-side-button {
    display: inline-block;
    width: 100%;
}
