ul, ol {
	margin: 0 0 1.2em 0em;
	padding-left: 1.4em;
}

ul {
	list-style: disc;
	@extend .h5; //get responsive text sizing
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0em;

}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}