// chromeframe.sass
// Compile to own file. Only load style when Chromeframe is called.

 // ==========================================================================
 //   Chrome Frame prompt
 //   ========================================================================== 

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}