///////////////////////////////////////////////////////////////  GRAYSCALE

$gray1: desaturate($color_base, 50%);
$gray2: desaturate($color_base, 100%);

@mixin grayscale_element($value) {
    filter: #{"grayscale(#{$value})"};
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    -o-filter: #{"grayscale(#{$value})"};
    -ms-filter: #{"grayscale(#{$value})"};
    @include backface-visibility(hidden); /* Fix for transition flickering */
}

// Navbar
//// Check if page type is home, invert colors.
//// Used on:
/////// Navbar
/////// Links > a
@mixin bg_color_check($page-type) {
	@if $page-type == home {
		background-color: invert($color__background-body);
	}
	@else {
		background-color: $color__background-body;
	}
}

@mixin font_color_check($page-type) {
	@if $page-type == home {
		color: lighten(invert($color__text-main), 20%);
	}
	@else {
		color: $color__text-main;
	}
}

@mixin invert_jpg_images($page-type) {
	@if $page-type == home {
		-webkit-filter:invert(100%);
		filter: invert(100%);
	    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
	    } 
	   @elseif $page-type == none {
	   	-webkit-filter:invert(0%);
	   	filter: invert(0%);
	    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='0');
	   }
	
}