// Layouts
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Widths of content
@mixin content_inset($page-type){
	@if $page-type == page {
		width: 100%;
		max-width: 700px;
		max-width: 43em; //about 700px
		max-width: 17.5rem; //700px 
		margin-left: auto;
		margin-right: auto;
		@include until($bp-md){
			padding-left: 15px;
			padding-right: 15px;
		}
		
	}
	@elseif ($page-type == content) {
		width: 100%;
		max-width: 700px;
		max-width: 43em; //about 700px
		max-width: 17.5rem; //700px 
		
	}
}

////////////////////////////////// LINKS 

@mixin link_formats($link-type) {
	@if $link-type == home { //inversion for homepage
		text-decoration: none;
		@include font_color_check(home);
		@include transition(color 200ms 100ms, border-bottom 200ms 100ms);
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $color__link-hover;
		}
	}
	@elseif $link-type == siteButtons { //set colors, decoration in buttons.scss
		font: $font__heading;
		text-transform: uppercase;
		text-decoration: none;
		@include font_color_check(home); //buttons have dark backgrounds
		@include transition(color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms);
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		&:focus {
			outline: none;
		}
		body.home {
			border-bottom: none;
		}
	}
	@elseif $link-type == menuLinks { //set colors, decoration in buttons.scss
		text-decoration: none;
		//@include font_color_check(home); //buttons have dark backgrounds
		@include transition(color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms);
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $color_base;
		}
		&:focus {
			outline: none;
		}
		body.home {
			border-bottom: none;
		}
	}
	@elseif $link-type == navLinks {
		&:hover, &:focus {
			background-color: $darken1;
			@include single-text-shadow;
			color: #FFFFFF;
			@include transition(background-color 200ms);
		}
		&:active {
			background-color: $lighten1;
		}
	}
	@else {
		text-decoration: none;
		@include font_color_check(none);
		
		@include transition(color 200ms 100ms, border-bottom 200ms 100ms);
		&:visited {
			color: $color__link-visited;
		}
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $color__link-hover;
			
		}
		&:focus {
			outline: none;
		}
		&:hover,
		&:active {
			outline: none;
		}
	}
}

//Icon Bar
$nav-w: 90px;
$nav-h: 60px;

// Typography
//all Headings
@mixin heading-border($page-type) {
	@if $page-type == home {
		border-bottom: 1px solid (lighten(invert($color__text-main), 20%));
	} @else {
		border-bottom: 1px solid $color__text-main;
	}
	
}

//Breakpoints
// ref: http://codepen.io/imathis/pen/BDzcI
// ref: https://css-tricks.com/naming-media-queries/
// http://www.iambacon.co.uk/blog/life-is-now-easier-create-media-query-mixins-with-rulesets-less-css

// and set variables for the project for our breakpoints (bp)
$bp-xs: 	10em; // 320px;
$bp-sm: 	30em; // 480px;
$bp-600: 	37.5em; // 600px;
$bp-40:		40em; //640px;
$bp-md: 	48em; // 768px;
$bp-lg: 	62em; // 992px;
$bp-1100: 	68.750em; // 1100px;
$bp-xl: 	75em; // 1200px;
$bp-xxl: 	93.75em; // 1500px;


// Mixin to setup responsive media query gaurd
@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}


 // * use
	//  .div {
	// 	background: #aaa;
	// 	@include at-least($bp-sm) {
	// 		background: orange;
	// 	}
	//  }
 

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}


 // * use
	//  .div {
	// 	width: 200px; height: 100px;
	// 	  @include until($bp-sm){
	// 	    width: 100px; height: 200px;
	// 	  }
	// 	}
	//  }

// Aspect ratio
// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
// use: 
// .sixteen-nine {
//  @include aspect-ratio(16,9);  
// }

// 	 <div class="box sixteen-nine">
//     <div class="content">
//       <span>16:9</span>
//     </div>
//   </div>

@mixin aspect-ratio($width:16, $height:9) {
    position: relative;
    height: 0;
	overflow: hidden;
	height: auto;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    .fill {
        position: absolute;
		z-index: -$z;
		top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
    }
}

// Create a mixin for this theme's header images and carousel images that use 16:9 aspect ratio and extend outside the width of the containers
@mixin full_width() {
	width: 100%;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin:0 -100%; /* old browsers fallback */
	margin:0 (-50vw); //https://css-tricks.com/full-width-containers-limited-width-parents/
}


@mixin full_width_header($width:16, $height:9, $maxLimit:"999px") {
	width: 100%;
	width: 100vw;
	display: inline-block;
	margin:0 -100%; /* old browsers fallback */
	margin:0 calc(50% - 50vw); //https://css-tricks.com/full-width-containers-limited-width-parents/
	@include aspect-ratio($width, $height);
	max-height: $maxLimit;
}

@mixin break-the-container($width){
	width: ($width) + 0vw; //https://css-tricks.com/snippets/sass/correctly-adding-unit-number/
	position: relative;
	left: 50%; // leave this at 50% always
	right: 50%; // leave this at 50% always
	margin-left: -($width / 2) + 0vw; //https://css-tricks.com/snippets/sass/correctly-adding-unit-number/
	margin-right: -($width / 2) + 0vw; //https://css-tricks.com/snippets/sass/correctly-adding-unit-number/
	> img {
		
		@include center-block;
	}
}