@import "colors_mixins";
@import "layouts-mixins";
@import 'mixins-typography';

@mixin backface { //http://compass-style.org/reference/compass/css3/transform/#mixin-backface-visibility
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}


@mixin bordered($border-type: solid, $width: 1px, $top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE) {
  border-top: $border-type $width $top-color;
  border-left: $border-type $width $left-color;
  border-right: $border-type $width $right-color;
  border-bottom: $border-type $width $bottom-color;
  behavior: url($path-pie);
}

// usage
// .thing {
//   @include bordered(solid, 1px, #EEE, #EEE, #EEE, #bada55);
// }

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin svg-shadow ($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.35){
  -webkit-filter: drop-shadow( $x-axis $y-axis $blur rgba(0, 0, 0, $alpha) );
          filter: drop-shadow( $x-axis $y-axis $blur rgba(0, 0, 0, $alpha) );
}

// http://compass-style.org/reference/compass/css3/opacity/

////// Styling for inverting content

@mixin white_on_black {
  background-color: #000000; // black base 
  color: #FFFFFF; // white text 
    a {
      color: transparentize(#FFFFFF, 0.2); // light white 
      @include transition(color $transition-time $transition-in);
      &:hover, &:focus {
        color: $color_base; // color on hover or focus
        
        transition-timing-function: $transition-out;
      }
      &:active {
        //background-color: $color__text-main; // dark gray 
        color: $darken2; // darken on active
      }
    }
}