/*--------------------------------------------------------------
# Get Compass CSS
--------------------------------------------------------------*/
@import "compass/css3";

/*--------------------------------------------------------------
# Project Variables and Mixins
--------------------------------------------------------------*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
p.lead { font-size: 21px; /*matches bootstrap*/ }

h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
	text-transform: uppercase;
	clear: both;	
}

.font-heading {
	font-family: $font__heading;
}

.font-body {
	font-family: $font__main;
}

/*--------------------------------------------------------------
## Padding and Margin
--------------------------------------------------------------*/
@import "layout/padding_margin";

/*--------------------------------------------------------------
## Links and buttons
--------------------------------------------------------------*/

/// Let's place bootstrap styling here because we call it on the front end
.btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "forms/buttons";

a {
	&:not(.btn) { 
		text-decoration: none;
		color: grayscale($color_base);
		&:hover, &:focus {
			color: $color_base;
		}
	}
}

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/

.full-width-image {
    @include break-the-container(100);
  }
.half-width-image {
	@include break-the-container(65);
}

/*--------------------------------------------------------------
## Format the Editor window
--------------------------------------------------------------*/

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body.mce-content-body.content { 
	padding: 1em; 
	background: #fff;
	@include center-block;
	color: $color__text-main;
	font-family: $font__main;
	
	max-width: 700px;
}