/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll .woocommerce-pagination,
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-loader {
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0 3em 0;
}

.woo-infinite-loader {
	background-color: #FFFFFF;
	
	position: fixed; // keeps it sticky with scroll 
	bottom: 0;
	height: 0;
	-webkit-transition: all $transition-time ease;
	width: 100%;
	z-index: $z;
	overflow-x: hidden;
	color: $color__text-main;
	text-align: center;
	
	font-family: $font__heading;
	text-transform: uppercase;
	padding-left: 8px;
	&.show {
		height: 50px;
		padding-top: 10px;
		border-top: 1px solid $color_base;
		
	}
}