////////////////////////////////  tabs.less

$tab-background: $darken1;

.woo-category-tab-wrapper {
	// we set the negative margin-top in jquery
	@include transition(all $transition-time $transition-in $transition-delay);
}

.nav-tabs {
	border: none;
	margin: 0;
	li {
		white-space: nowrap;
		a {
			font-size: 0.6em;
			@include border-radius(0);
			background-color: $tab-background;
			
			@include transition(background-color, 200ms);
			color: #FFFFFF!important;
			text-transform: uppercase;
				&:hover, &:focus {
					background-color: $color_base;
					color: #FFFFFF!important;
					-webkit-tap-highlight-color: $color_base;
					border: 1px solid transparent;
					border-bottom: 1px solid $color_base;
				}
				&:visited {
					color: #FFFFFF!important;
				}
		}
		&.active {
			
			a {
				background-color: $color_base;
				color: #FFFFFF;
				border: 1px solid transparent;
				border-bottom-color: $color_base;
				&:hover {
					background-color: $darken1;
					color: #FFFFFF;
					-webkit-tap-highlight-color: $color_base;
					border: 1px solid transparent;
					border-bottom: 1px solid $color_base;
				}
				&:focus, &:active {
					background-color: $color_base;
					border: 1px solid transparent;
					border-bottom-color: $color_base;
				}
			}
		}
	}
	.active {
			a {
				@include bordered(solid, 1px, transparent, transparent, #000000, transparent);
				background-color: #000000;
				&:hover, &:focus {
					@include bordered(solid, 1px, transparent, transparent, $color_base, transparent);
				}
			}
		}
}

.tabs-angled {  //http://jsfiddle.net/py9Ze/1/
	
	@include skewX(-14deg, 3D-only);
	margin-left: 5px;  //this brings the tabs back to their origin after we skew it 
	&:before {
		content: "";
		@include skewX(14deg, 3D-only);
	}
}

.tab-content { 
	position: relative;
	
		background-color: $color_base;
		padding: 1em;
	
}

.tab-cat-thumb {
	height: auto;
	
	@include at-least($bp-xs){
		width: 180px;
	}
	@include at-least($bp-md){
		width: 300px;
	}
	padding-right: 5px;
	@extend .grayImg;
}

.cat-wrap {
	position: absolute;
	display: block;
	text-align: center;
	padding: 0 10px 10px 10px;
	background: fade(black, 50%);
	@include border-radius(4px);
	border: 1px solid black;
	clear: both;
	&-clear {
		position: absolute;
		display: block;
		text-align: center;
		padding: 0 10px 10px 10px;
		border: none;
		background: transparent;
		@include at-least($bp-xs) {
			width: 90%;
			top: 45%;
			left: 50%;
			@include transform(translateX(-50%));
		}
		@include at-least($bp-sm) {
			width: 70%;
			
		}
	}
	@include at-least($bp-xs) {
		width: 90%;
		bottom: 5%;
		left: 50%;
		@include transform(translateX(-50%));
		
	}
	@include at-least($bp-sm) {
		width: 70%;
		
	}
}