table {
	margin: 0 0 1.5em;
	width: 100%;
	@include single-transition(opacity, 500ms, ease-out, 100ms);

	&.schedule {
		td {
			padding: 10px;
			&:first-child {
				&::before {
				content:        '\f017'; //time clock
				display:        inline-block;
				padding:        0 5px;
				font-family:    FontAwesome;
				font-style: 	normal;
				font-weight: 	normal;
				text-decoration: inherit;
				padding-right: 	5px;
				vertical-align: top;

				-webkit-font-smoothing: antialiased;
				border-bottom: none;
				}
			}
		}
		tr {
			border-bottom: 1px solid $border__color;
		}
	}
}