.widget {
	margin: 0 0 1.5em;
	
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	&.sticky-navbar {
		margin-bottom: 0;
		@include display-flex;
		// @include justify-content(flex-end);
		// @include align-items(center);
		// @include align-content(center);
		ul {
			@include display-flex;
			@include flex-direction(row);
			margin: 0;
			padding: 0;
			
			li {
				padding-right: 0.5em;
				&:last-child {
					padding-right: 0;
				}
				a::before {

					@include responsive-font(5vw, 11px, 18px);
				}
			}
		}
	}
}

#navbar-widget-item.widget {
	margin-bottom: 0;
}