@media screen and (min-width: 10em) {
  .product-search {
    width: calc(100vw - 30px); } }
@media screen and (min-width: 48em) {
  .product-search {
    width: 20em; } }
@media screen and (min-width: 62em) {
  .product-search {
    width: 30em; } }

@media screen and (min-width: 10em) {
  .product-search-form {
    margin-bottom: 5px;
    text-align: center; } }
@media screen and (min-width: 48em) {
  .product-search-form {
    margin-bottom: 0;
    text-align: right; } }

.product-search input[type="text"].product-search-field {
  padding: 3px 8px;
  background-color: #000000;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out; }
  @media screen and (max-width: 47em) {
    .product-search input[type="text"].product-search-field {
      width: 100% !important; } }
  .product-search input[type="text"].product-search-field:focus {
    width: 100% !important;
    background-color: #FFFFFF; }

.product-search-results {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  color: #FFFFFF; }
  .product-search-results a {
    color: rgba(255, 255, 255, 0.8);
    -moz-transition: color 250ms ease-out;
    -o-transition: color 250ms ease-out;
    -webkit-transition: color 250ms ease-out;
    transition: color 250ms ease-out; }
    .product-search-results a:hover, .product-search-results a:focus {
      color: #269719;
      transition-timing-function: ease-in; }
    .product-search-results a:active {
      color: #103f0b; }
  .product-search-results .entry:hover, .product-search-results .entry:active {
    background-color: #040404; }
  .product-search-results .product-info a {
    line-height: 1.7; }
  .product-search-results a {
    font-size: 11px !important;
    line-height: 1.7; }

/*# sourceMappingURL=woocommerce-product-search.css.map */
