//Adjust some styling for FASC Buttons plugin

a {
	&.fasc {
		&-button {
			border-bottom: none!important; // make sure buttons do not get a border-bottom from the base a:link styling in theme.
			@include single-text-shadow;
			font-family: $font__nav_heading;
			letter-spacing: 2px;
		}
	}
}