.instagram {
	&-comments-likes-wrapper {
		position: relative;
		display:block; //fallback for old browsers
		@include display-flex;
		height: 100%;
		span.glyphicon {
			top: 4px;
		}
	}
	&-likes {

		cursor: default;
		-webkit-user-select: none;
		/* Chrome/Safari */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* IE10+ */
		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
		display: inline-block;
		padding-left: 0.5em;
		line-height: 1;
		
		&-wrapper {
			float: left;
			
		}
	}
	&-comments {
		@extend .instagram-likes;
		
		&-wrapper {
			float: left;
			padding-left: 1em;
		}
	}
	&-date {
		float: right;
		margin-left: auto;
	}
	&-title {
		clear:both;
		margin: 0.5em 0;
		line-height: 1.5;
	}
}



.front {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	height: 100%;
	cursor: default;
	@include transition(all $transition-time);
	&:hover, &:focus, &:active {
		.back {
			opacity: 1;
		}
	}
	&:active {
		.back {
			color: #FFFFFF;
			background-color: transparentize($color_base, 0.5);
		}	
	}
	img {
		max-width: 300px;
		margin: 0 auto;
	}
}

.back {
	opacity: 0;
	background-color: transparentize(#000000, 0.5);
	color: #FFFFFF;
	@include transition(all $transition-time);
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 1em;
	a {
		color: #FFFFFF;
		&:hover,
		&:focus,
		&:visited {
			color: #FFFFFF;
		}
		
	}
}

// Set the height of our IG containers and elements
$IG-height: 600px;

.format { 
	&-image {
		&.type-post {
			background-color: #f9f9f9;

			body.single-post & {
				background: transparent;
				@include at-least($bp-md){
					height: $IG-height;
				}
				
				.entry-header {
					@include at-least($bp-md){
						height: 100%;
						//max-width: $IG-height;
					}
				}
				@include at-least($bp-xs){
					padding-left: 15px;
					padding-right: 15px;
				}
				@include at-least($bp-md){
					//height: $IG-height;
					width: 100%;
					padding-left: 0;
					padding-right: 0;
				}
				.entry-thumbnail {
					@include at-least($bp-md){
						//height: 100%;
					}

					@include at-least($bp-xs){
						
					}
					// @include at-least($bp-md){
					// 	width: auto;
					// 	height: $IG-height;
					// }
					
					background-color: #f9f9f9;
					img {
						width: auto;
						max-height: $IG-height;
						@include at-least($bp-md){
								//height: 100%;
							}
						
					}
				}
				.entry-footer {
					.instagram-comments-likes-wrapper {
						margin: 10px 0;
						padding: 10px 0;
						border-top: 1px solid #f1f1f1;
						border-bottom: 1px solid #f1f1f1;
					}
				}
			} // body.single-post 
		}

		
		.image-content-container { // riffing off instagram
			@include at-least($bp-600){
				width: 335px;
				min-width: 335px;
				height: $IG-height;
				overflow-y: scroll;
				.entry-footer {
					padding: 0;
				}
				
				
			}
			
		}
		
	} // .format-image 
}