/////////////////////////////// WIDTHS ///////////////////////////////////

$full-width: 100%;
$gutter-width: 1%;
		
.grid {
	&:after { //clearfix
	    content: '';
	    display: block;
	    clear: both;
	  }
	&-item {
		float: left;
		margin-bottom: 10px; //better if this is a specific value instead of percentage value
		@include responsive-font(3vw, 8px, 16px, 12px);
		img {
		  display: block;
		  max-width: 100%;
		}
	}
}
.gutter-sizer {
	width: $gutter-width;
}
.grid-sizer, .grid-item {
	padding: 0.5em;
	
	
	@include at-least($bp-xs) {
		width: ($full-width - ($gutter-width * 1)) / 2; // 2 column
		
		}
	@include at-least($bp-lg) {
		width: ($full-width - ($gutter-width * 2)) / 3; // 3 column
		
		}
	@include at-least($bp-xl) {
		width: ($full-width - ($gutter-width * 3)) / 4; // 4 column
		
		}
}

//////////////////////// Formats for tidying up the layouts to keep even grid counts.
// Ref: https://www.sitepoint.com/using-sass-quantity-queries/

@mixin quantity-query( $number, $comparison: 'equal' ) {
  $nth: '';
  
  @if index( ('greater' 'more' '>'), $comparison ) {
    $nth: 'n + #{$number}';
  } @else if index( ('less' 'fewer' '<'), $comparison ) {
    $nth: '-n + #{$number}';
  } @else if index( ('equal' 'same' '='), $comparison ) {
    $nth: $number;
  } @else {
    @warn "Sorry, that's an invalid $comparison value."
  }
  
  &:nth-last-child(#{$nth}):first-child {
    &,
    & ~ * {
      @content;
    }
  }
}

@mixin qq-equal( $number ) {
  @include quantity-query( $number, equal ) {
    @content;
  }
}

@mixin qq-greater( $number ) {
  @include quantity-query( $number, greater ) {
    @content;
  }
}

@mixin qq-less( $number ) {
  @include quantity-query( $number, less ) {
    @content;
  }
}

// Now we can setup specifics for our grids. Our styling uses 2 column and 4 column, which are multiples of two. 3 column is multiples of three.
// 
