.avatar_container {
	display: inline-block;
	img {
		border:none;
		@include border-radius(50%);
		margin-top: -7px;
		padding: 0;
		@include transition(padding 200ms ease-out);
		
			@include at-least($bp-xs){
				padding: 2px;
				margin-right: 0;
				
			}
			@include at-least($bp-40){
				margin-right: 5px;
			}
	}
	
	
}

li.widget_wp_sidebarlogin {
	float: left;
}

ul.sidebar_login_links {
	li {
		
		text-transform: uppercase;
		a{
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
			}
		}
	}
	&.dropdown-menu {
		@include at-least($bp-xs){

		   
			> li {
					position: relative;
					
					>a {
						padding: 5px 10px!important;
					}
				}
			}
		@include at-least($bp-600){
			
		}
		}
		@include at-least($bp-md){
			
			
	}	
}

a.sidebar_logged_out_title{
	
	text-transform: uppercase;
	
	// padding is set in #site-navigation a in navigation/menus.scss 
	@include transition(background-color, 250ms, 100ms);

	#mover.stuck & {
		
		@include at-least($bp-lg){
			padding: 10px;
		}
	}

	&:focus, &:hover {
		// background-color: shade($color_base, 10%)!important;
	}
	  
	&:focus {
		outline: none;
	}
	  
	&:active {
		background-color: shade($color_base, 20%)!important;
		color: transparentize(#FFFFFF, 0.5)!important;
		border: 2px solid (transparentize(#FFFFFF, 0.5)!important);
	}
	
	li.widget_wp_sidebarlogin & {
		
	}
}

a.dropdown-toggle { // this wraps the title and avatar
	width: auto;
	#mover.stuck & {
		// padding: 10px 0;
	}
	@at-root .nav>li>#{&} {
		@include at-least($bp-xs){
			
		}
			
		@include at-least($bp-md){
			
		}
	}
	
}

span.sidebar_logged_in_title {
	@include at-least($bp-xs){
		display: none;
	}
	@include at-least($bp-40){
		display: inline-block;
		margin-right: 5px;
	}
}

.modal-header {
	background-color: $color_base;
	.close {
		color: $darken2;
		font-size: 2em;
		@include border-radius(50%);
	}
}

h4.modal-title {
	color: #FFFFFF;
	float: left;
	clear: none;
	border-bottom: none!important;
	@include single-text-shadow();
}

body.logged-out {
	.modal {
		#loginform {
			width: 320px; //matches WP
			margin: 0 auto;
			p {
				text-align: left;
			}
			label {
				display: block;
				font-size: 85%;
				color: $gray1;
			}
		}
		ul.sidebar_login_links {
			list-style-type: none;
			background-color: transparent;
			margin-left: 0;
			padding: 1em;
			li {
				display: inline-block;
				&:not(:last-child):after {
					content:'|';
					
					padding-left: 10px;
					
				}

				a {
					color: tint($color_base, 50%);
						&:hover, &:focus {
							color: $color_base;
						}
				}
			}
			
		}
	}
}