//tablepress.scss

// @import "compass/css3";

// //Mixins
// @import 'mixins/layouts-mixins';

// // Animation
// @import 'variables-site/animation';

// // Colors
// @import 'variables-site/colors';
$dataTables_color: #FFFFFF;

// Typography 
// @import 'mixins/mixins-typography';

// Start Styling below
table{
	
	&.tablepress {
		
		margin-bottom: 1em;
		width: 100%!important;
		// opacity: 0; // set this so it transitions on page load.
		@include single-transition(opacity, $transition-time-slow, $transition-in, 100ms);
		&.ready {
			opacity: 1;
		}
		.odd td {
			
		}
		.even td {
			
		}
		.sorting {
			
				@include transition(background-color, $transition-time);
				&:hover, &:focus {
					background-color: $color_base;
					color: #FFFFFF;
				}
				&_asc, &_desc {
					background-color: #eee;
				}
			
		}
		tfoot th, thead th {
			background-color: $dataTables_color;
			text-align: center;
			}

		tbody {
			tr {
				background-color: $dataTables_color;
			
				&:last-child {
					td {
						border-bottom: 1px solid #ddd;
						
					}
					
				}
				td {
					@include transition(background-color $transition-time $transition-in);
					text-align: center;
					@include responsive-font(5vw, 6px, 14px);			
				} // tbody tr td 
			} // tbody tr 
			
		} // tbody 
		
		
	} // table.tablepress
	&.datatable {
		width: 100% !important;
	}	
}
// Table Title 
.tablepress-table-name {
	
    text-align: left;
    margin: 0 0 15px;
	
}

.dataTables {
	&_length, &_filter {
		@include at-least($bp-xs) {
			font-size: 12px;
			}
		@include at-least($bp-sm) {
			font-size: 18px;
			}
	}
	&_wrapper {
		.tablepress {
			margin-left: auto!important;
			margin-right: auto!important;
		}
	}

}

body.home .tablepress .row-hover tr:hover td {
	background-color: #333333;
}


/* 
 * Social Menu icons
 */

table {
	&.startlist, &.standings {
		a {
		border-bottom: none;
		content: '';
		@include transition(color, 200ms);
		&:hover, &:focus {
			color: #FC4C02; // this is Strava Orange
			border-bottom: none;
			body.home & {
				color: #FC4C02; // this is Strava Orange
			}
		}

		&::before {
			content:        '\f19a';
			display:        inline-block;
			padding:        0 5px;
			font-family:    FontAwesome;
			font-style: 	normal;
			font-weight: 	normal;
			text-decoration: inherit;
			padding-right: 	5px;
			vertical-align: top;

			-webkit-font-smoothing: antialiased;
			border-bottom: none;
			}
		&[href*="wordpress.org"]::before {
			content: '\f19a';
			}
	}
}
}
