.site-main.infinite-loading { // this is triggered when we are loading new posts
	
	@include opacity(0.33);
	&:after {
		content: '\f110';
		font-family: FontAwesome;
		display:        inline-block;
		padding:        0 5px;
		font-style: 	normal;
		font-weight: 	normal;
		text-decoration: inherit;
		padding-right: 	5px;
		vertical-align: top;
	}
}
