@import "compass/css3";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

body {
    background: $dark_gray;
    
    @include display-flex;
    @include flex(1 1 auto);
    @include flex-direction(column);
    @include justify-content(center);
    #login {
        padding: 0;
    }
    &.login {
        background-image: url(../../images/Group_collection_shot_fun.jpg); // could also try the interpolation: http://stackoverflow.com/questions/8608498/have-a-variable-in-images-path-in-sass
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    
        h1 a {
            display: none;
        } 
    } // .login 
}

.login {
    form {
        background-color: transparentize($dark_gray, .2);
    }
    label {
        color: #FFFFFF;
    }
    #nav, #backtoblog {
        background-color: transparentize($dark_gray, .2);
        margin: 0;
        padding: 1em;
        border-top: 1px solid $gray;
        text-align: center;
        color: #ffffff; // makes the separator match the link colors 
        a {
            @include transition(all $transition-time-fast $transition-in);
            color: #ffffff;
            &:hover, &:focus {
                color: $color_base;
                transition-timing-function: $transition-out;
            }
        }
    }
}

input {
    &#wp-submit {
        background-color: $color_base;
        border-color: $lighten1 $darken1 $darken1;
        @include box-shadow(0 1px 0 $darken1);
        @include text-shadow(0 -1px 1px $darken1, 1px 0 1px $darken1, 0 1px 1px $darken1, -1px 0 1px $darken1);
    }
}