/* Welcome to Compass. Use this file to write IE specific override styles.*/
html.no-flexbox .navbar-brand #navbar-multi-image img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 10px solid aqua; }

.overlay-content-wrapper, .top-content-box, .bottom-content-box {
  width: 100%; }

.overlay-aside {
  width: 25%; }

.overlay-main-content-box {
  width: 50%; }

/*# sourceMappingURL=ie.css.map */
