@keyframes kenburns {
    0% {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
    50% {
    	@include opacity(1);
    }
    95% {
    	@include opacity(0);
    }
    100% {
       
        @include transform(scale3d(1.05, 1.05, 1.05));
        //@include transform (translate3d(-25px, -10px, 5px));
        animation-timing-function: ease;
    }
    
}