a {
	.entry-content &, .entry-footer &, .site-footer & {
			
	}
	
		p & {
			border-bottom: 1px solid currentColor;
			&:hover, &:focus, &:active, &:visited {
				border-bottom: 1px solid currentColor;
			}
			
		}
		
			
		&.btn {
			
			&:hover, &:focus, &:active {
				border-bottom: 1px solid transparent;
			}
		}
		html.cssfilters body.home p & { 
			border-bottom: 1px solid currentColor;
			&:hover, &:focus, &:active {
				border-bottom: 1px solid currentColor;
			}
			&.btn { //add button styles here instead of buttons.scss because we are canceling entry-content styles
				@include link_formats(siteButtons);
				border-bottom:none;
				&:hover, &:focus, &:active {
					border-bottom:none;
					color: #FFFFFF;
				}
			}
			
		}

	
	@include link_formats(none);
	
	//have to back this out of the navbar
	
	&.menu-link {
		&.main-menu-link {
			border-bottom: none!important;

			
		}
		&.sub-menu-link {
			
		}
	}
	
}

button > a {
	// for <button><a href="#">LINK</a></button> 
	@include link_formats(siteButtons);
}

nav {
	&.nav-post-link {
		position: fixed;
		top: 50%;
		
		&#single-left {
			left: 0;
		}
		&#single-right {
			right: 0;
		}
		background: $color_base;
		@include transition(background 200ms ease-out);
		height: 2.5em;
		width: 2.5em;
		color: #FFFFFF;
		@include single-text-shadow();
		font-size: 125%;
		padding: 0.5em 0.75em;
		&:hover,
		&:focus {
			background: $color_base_shade;
		}
		&:active {
			background: $darken2;
		}
	}
}