//setup conditions for checking if we are on the home or front-page

$branding-image-width: 80px;

#site-navigation {
	@include transition(font-size 200ms ease-out, color 200ms ease-out);
	text-transform: uppercase;
	@include white_on_black;
	border-bottom: 2px solid $color_base;
	a:not(.navbar-brand), a:not(.navbar-super-widget) {
		@include link_formats(menuLinks);
		@include responsive-font(4vw, 7px, 13px, 14px);
		
		&:hover:not(.branding),
		&:focus:not(.branding),
		 {
			background-color: transparent;
			color:$color_base;
		}
		&:active:not(.branding){
			background-color: $darken2;
			color: #FFFFFF;
		}
		&.branding {
			
			margin-right: 15px;
			padding-left: 0;
			
			height: auto;
			@include at-least($bp-md){	
				max-width: $branding-image-width;
			}
			@include at-least($bp-xxl){	
				max-width: $branding-image-width + 25px;
			}
		}
		
	}


	ul {
			li {
				&.current_page_item, &.current_page_parent {
					a {
						background-color: $color_base;
						color: #FFFFFF;
						&:hover, &:focus {
							background-color: $darken1;
							@include single-text-shadow;
							color: #FFFFFF;
							
						}
						&:active {
							color: #FFFFFF;
							background-color: $lighten1;
						}
					}
					ul {
						li {
							a {
								&.sub-menu-link { // .current_page_item li a.sub-menu-link
									background: $color__background-body;
									color: $color__text-main;
									&:hover, &:focus {
										background: $color__background-body;
										color: $color_base;
										@include single-text-shadow(none);
									}
									&:active {
										background-color: $darken1!important;
										@include single-text-shadow;
										color: #FFFFFF;
									}
								}
							}
						}
					}
				} // .current_page_item
				&.current_page_parent{
					ul {
						li{
							&.current-menu-item, &.current-product_cat-ancestor {
								a {
								  // .current_page_item li a.sub-menu-link
									background: $color_base;
									color: $color__background-body;
									&:hover, &:focus {
										background: $darken1;
										color: $color__background-body;
										@include single-text-shadow(none);
									}
									&:active {
										background-color: $darken2!important;
										@include single-text-shadow;
										color: #FFFFFF;
									}
								}
							}
						}
					}

				}
			}
		}
	.site-branding {
		
		height: auto;
		padding: 0.5em;
		@include at-least($bp-xs){
			width: 100px;
		}
		@include at-least($bp-md){
			width: 490px;
		}
	}
	// fixedDiv Secondary navigation 
	.site-branding-secondary {
		float: left;
		
		height: auto;
		padding: 0.5em;
		@include at-least($bp-xs){
			width: 100px;
		}
		@include at-least($bp-md){
			width: 100px;
		}
	}


// Menu Item Indicators
// Wrapped inside the #site-navigation to give us specificity and make sure we get called after Bootstrap
.menu-item-has-children {
	> a {
		padding-right: 8px;
		&::after{
			content: '\f0d7';
			font-family: FontAwesome;
			padding-left: 7px;
		}
	}
}

} // #site-navigation




// Bootstrap Styling Overrides

.navbar {
	
	//@include bg_color_check(none);
	@include border-radius(0);
	width: 100%;
	margin-bottom: 0; //cancel bootstrap
	border: none;
	ul { // .navbar ul
		list-style: none;

		ul { //.navbar ul ul
			
			@include at-least($bp-xs){
				position: relative;
				float: none;
				padding-left: 0;
				@include box-shadow(none);
			}
			@include at-least($bp-md){
				float: left;
				position: absolute;
				
				left: -999em;
				z-index: $z;
				background-color: $color__background-header;

			}
			
			text-align: left;
			
			
			
				//@include bg_color_check(none);
				
				ul { // .navbar ul ul ul
					left: -999em;
					top: 0;
				
				}

			li { // .navbar ul ul li
				
				
				a { //.navbar ul ul li a
					&::before {
						content:"\f0fb";
						font-family: FontAwesome;
						margin-right: 7px;
					}
					line-height: $font__line-height-body;
					font-size: 16px;
					padding: 10px 15px;
				}
				&:hover > ul,
				&.focus > ul { //.navbar ul ul li:hover > ul
					left: 100%;
				}
			}

			a { //.navbar ul ul a

				@include at-least($bp-xs){
					padding: 0 0 0 30px;
				}
				@include at-least($bp-md){
					min-width: 210px; // keep this a set pixel dimension so the interactive states style consistently
					@include single-text-shadow(none);
				}
				
				
				
				&:hover,
				&:focus {
					color: $color-base;
				}
				.current_page_item &,
				.current-menu-item & {
					background: $color__background-body;
					color: $color__text-main;

				}
				
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		
		@include at-least($bp-md) {
			float: left;
		}
		


		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
	&-header {
		@include until($bp-md){

		}
	}
	&-nav {
		
		
		 li { // .navbar-nav li 
		 	
		 	a { // .navbar-nav li a 
		 		@include at-least($bp-md){
					
		 		}
		 		&.sub-menu-link {
		 			padding: 10px 0 10px 25px; //this style has to be nested here or Bootstrap takes over
					line-height: 1;
		 		}
		 		&:focus, &:active {
		 			color: $color_base;
		 		}
		 		
		 	}
			 	
			} // navbar-nav li
			
		 } // navbar-nav 
		  

	
	&-collapse {
		&.collapse {
			@include at-least($bp-md){
				display: inline-block!important;
			}
			
		}
		
		@include at-least($bp-xs) {
			
		
			
			
		}
		 
	}
	&-right {

		li {
			@include at-least($bp-xs){
				
				//display: inline-block;
			}
			@include at-least($bp-md){
				//display:block;
			}
			@include at-least($bp-lg){
				
								
			}
			
			@include transition(padding 250ms ease-out 50ms);
			
			
		}
		@at-root ul.nav.navbar-nav#{&} {
				
				@include at-least($bp-xs){
				    // margin: 0; // if we change the absolute positioning of the cart, this should be removed
				    // position: absolute;
				    // top: 0;
				    // right: 15px;
				    @include display-flex;
				    margin-left: auto;
				}
				
				@include at-least($bp-lg){
					position: relative;
				}
			} // ul.nav.navbar-nav.navbar-right
		
	} // .navbar-right
	&-super-widget {
		.textwidget p {
			@include responsive-font(3vw, 7px, 13px, 14px);
			a {
				display: inline;
			}
		}
	}
	&-toggle {
		
		border-color: transparent;
		float: left;
		
		padding: 0;
		@include border-radius(0);
		&:hover, &:focus {
			background: transparent;
		}
		&:active {
			background-color: $contrasted-light-default;
		}		
	} //.navbar-toggle
}//.navbar

// Secondary Navigation

.fixedDiv {
	display: none;
	position: fixed;
	background-color: $color__background-body;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z;
	@include box-shadow (0 0 4px 1px #333333);
	width: 100%; //for the sticky-footer flexbox support. Just cancels out if browser does not support flexbox.
	body.logged-in & {
		@include at-least($bp-md){
			top: $admin-bar-desktop;
		}
	}
  @media print {
  	display: none;
  }
}



@import "elements/hamburgers/hamburgers";
