.comment-navigation,
.posts-navigation,
.post-navigation {

	padding: 1em;	
	@include content_inset(page);
	line-height: 1.2;

	.nav-previous {
		float: left;
		width: 48%;
		
		.nav-title-icon-wrapper {
			position: relative;

			.nav-post-indicator {
				position: absolute;
				left: -18px;
				
			}
		}
	}

	.nav-next {
		float: right;
	    text-align: right;
	    width: 48%;

	    .nav-title-icon-wrapper {
			position: relative;
			.nav-post-indicator {
				position: absolute;
				right: -18px;
			}
		}
	}

	.nav-title {
		font-family: $font__heading;
		text-transform: uppercase;
		color: grayscale($color_base);
		@include transition(color $transition-time $transition-in);
		&:hover, &:focus {
			color: $color_base;
		}
		&:active {
			color: $darken1;
		}
	}
	.nav-subtitle {
		@include responsive-font(4vw, 8px, 10px, 12px);
		text-transform: uppercase;
		font-weight: bold;
		color: #ccc;
		@include clearfix();
		display: block;
		margin-bottom: 5px;
	    letter-spacing: 0.1818em;

	}
}