//set colors and decorations
// @mixin link_formats($page-type) establishes base styles for:
// -text-transform
// -text-decoration
// -@include font-color-check()
// -@include transition()

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 16px; //https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
	@include border-radius(0);
	border-color: transparent;
	background-color: $color__background-button;
	text-transform: uppercase;
	line-height: 1;
	padding: .6em 1em .4em;
	@include transition(all 200ms 100ms);
	color: #FFFFFF;
	cursor: pointer;
	&:hover, &.hover
	&:focus, &.focus {
		color: #FFFFFF;
		background-color: $color__background-button-hover;
		border-color: transparent;
	}
	
	&:active, &.active, &:focus, &.focus {
		background: $color__background-button-active;
		border-color: transparent;
		outline: 0; //remove Firefox outline
	}
}

.btn {
	@include link_formats(siteButtons);
	
	@include border-radius(0);
		&-sm {
			
			letter-spacing: 1px;
			@include border-radius(0);
		}
		&-lg {
			
			@include border-radius(0);
		}
		&-xl {
			
			@include border-radius(0);
		}
		
		&-danger {
			color:#FFFFFF;
			background: $color__background-button; //override bootstrap
			border-color: transparent; //override bootstrap
			&:visited {
				color: #FFFFFF; //override base
			}

			&:hover, &:focus, &:active {
				background: $color_base_shade; //override bootstrap
				border-color: transparent; //override bootstrap
				color: #FFFFFF; //override bootstrap
			}
			
		}
	} //.btn

a {
	&.btn-danger.btn-wire {
	background: transparent;
	border: 2px solid!important;//forces border around entire element
	border-color: $color-base!important;
	color: $color_base;
	cursor: pointer;
		&:hover, &.hover, &:focus, &:active {
			color: #FFFFFF;
			background: $color-base;
			border: 2px solid!important;//forces border around entire element
			border-color: $color-base!important;
		}
		body.home & {
		border-color: $color-base;
			&:hover, &:focus, &:active {
				color: #FFFFFF;
				background: $color-base;
			}
		}
	}
}