///////////////////////////////// COLUMN WIDTHS

.one-of-four, .size-1of4 { //25%
	@include at-least($bp-xs){
		width: (1 / 1)*100%;
	}
	@include at-least($bp-sm){
		width: (1 / 2)*100%;
		
	}
	@include at-least($bp-md){
		width: (1 / 4)*100%;
	}
}	

.one-of-three, .size-1of3 { // 33%
	@include at-least($bp-xs){
		width: 100%;
	}
	@include at-least($bp-600){
		width: (1 / 3)*100%;
	}
}

.two-of-five, .size-2of5 {
	@include at-least($bp-xs){
		width: (2 / 5)*100%;
	}
}

.one-of-two, .size-1of2, .half-width {
	@include at-least($bp-xs){
		width: 100%;
	}
	@include at-least($bp-md){
		width: (1 / 2)*100%;
	}
}

.three-of-five, .size-3of5 {
	@include at-least($bp-xs){
		width: (3 / 5)*100%;
	}
}

.two-of-three, .size-2of3 {
	@include at-least($bp-xs){
		width: (2 / 3)*100%;
	}
}

.three-of-four, .size-3of4 {
	@include at-least($bp-xs){
		width: (3 / 4)*100%;
	}

}

.four-of-five, .size-4of5 {
	@include at-least($bp-xs){
		width: (4 / 5)*100%;
	}
}

.full-width, .size-1of1, .sm-full {
    width: 100%;
}