.flex {
	@include display-flex;
	&-center-left {
		@extend .flex;
		@include flex(1 1 auto);
		// assumes flex-direction: row
		@include justify-content(flex-start);
		@include align-items(center);
	}
	&-center-right {
		@extend .flex;
		@include flex(1 1 auto);
		// assumes flex-direction: row
		@include justify-content(flex-end);
		@include align-items(center);
		margin-left: auto;
	}
}

.full-width {
	@include full_width();
}

.height100 {
	height: 100%;
}