// Basic settings for padding containers
$spacing-sm : 0.5em;

$spacing-md : $spacing-sm + 1.1em;
$spacing-lg : $spacing-md + 1.5em;
$spacing-xl : $spacing-lg + 1.5em;




.padding {
	&-sm {
    	padding: $spacing-sm;
    	&-all {
    		padding: $spacing-sm;
    	}
    	&-top-bottom {
    		padding: $spacing-sm 0;
    	}
    	&-top {
    		padding-top: $spacing-sm;
    	}
    	&-bottom {
    		padding-bottom: $spacing-sm;
    	}
    	&-left {
    		padding-left: $spacing-sm;
            &-right {
                padding-right: $spacing-sm;
                padding-left: $spacing-sm;
            }
    	}
    	&-right {
    		padding-right: $spacing-sm;
    	}
	}
	&-md {
    	padding: $spacing-md;
    	@include until($bp-md){
    		padding: 10px 0;
    	}
    	&-all {
    		padding: $spacing-md;
    	}
    	&-top-bottom {
    		padding: $spacing-md 0;
    		@include until($bp-md){
	    		padding: 10px 0;
	    	}
    	}
    	&-top {
    		padding-top: $spacing-md;
	    		@include until($bp-md){
	    		padding-top: 10px;
	    	}
    	}
    	&-bottom {
    		@include at-least($bp-xs){
                padding-bottom: $spacing-md - 1em;
            }
            @include at-least($bp-md){
                padding-bottom: $spacing-md;
            }
    	}
    	&-left {
    		@include at-least($bp-xs){
                padding-left: $spacing-md - 1em;
            }
            @include at-least($bp-md){
                padding-left: $spacing-md;
            }
            &-right {
                padding-left: $spacing-md;
                padding-right: $spacing-md;
        }
    	}
    	&-right {
    		@include at-least($bp-xs){
                padding-right: $spacing-md - 1em;
            }
            @include at-least($bp-md){
                padding-right: $spacing-md;
            }
    	}
	}
	&-lg {
    	padding: $spacing-lg;
    	&-all {
    		padding: $spacing-lg;
    	}
    	&-top-bottom {
    		padding: $spacing-lg 0;
    	}
    	&-top {
    		padding-top: $spacing-lg;
    	}
    	&-bottom {
    		padding-bottom: $spacing-lg;
    	}
    	&-left {
    		padding-left: $spacing-lg;
            &-right {
                padding-right: $spacing-lg;
                padding-left: $spacing-lg;
            }
    	}
    	&-right {
    		padding-right: $spacing-lg;
    	}
	}
	&-xl {
    	padding: $spacing-xl;
    	&-all {
    		padding: $spacing-xl;
    	}
    	&-top-bottom {
    		padding: $spacing-xl 0;
    	}
    	&-top {
    		padding-top: $spacing-xl;
    	}
    	&-bottom {
    		padding-bottom: $spacing-xl;
    	}
    	&-left {
    		padding-left: $spacing-xl;
            &-right {
                padding-right: $spacing-xl;
                padding-left: $spacing-xl;
            }
    	}
    	&-right {
    		padding-right: $spacing-xl;
    	}
	}
	&-none {
		padding: 0;
		&-top {
			padding-top: 0!important;
		}
	}
    &-bottom-none {
        padding-bottom: 0!important;
    }
	&-top {
		&-none {
			padding-top: 0!important;
		}
		
		&-bottom { //.padding-top-bottom-none
			&-none {
				@extend .padding-top-none;
				padding-bottom: 0!important;
			}
			
		}
	}
    &-left-none {
        padding-left: 0;
    }
    &-right-none {
        padding-right: 0;
    }
}

.margin {
    &-sm {
        margin: $spacing-sm;
        &-all {
            margin: $spacing-sm;
        }
        &-top-bottom {
            margin: $spacing-sm 0 !important;
        }
        &-top {
            margin-top: $spacing-sm;
        }
        &-bottom {
            margin-bottom: $spacing-sm !important;
        }
        &-left {
            margin-left: $spacing-sm;
        }
        &-right {
            margin-right: $spacing-sm;
        }
    }
    &-md {
        margin: $spacing-md;
        @include until($bp-md){
            margin: 10px 0;
        }
        &-all {
            margin: $spacing-md;
        }
        &-top-bottom {
            margin: $spacing-md 0 !important;
            @include until($bp-md){
                margin: 10px 0;
            }
        }
        &-top {
            margin-top: $spacing-md;
                @include until($bp-md){
                margin-top: 10px;
            }
        }
        &-bottom {
            margin-bottom: $spacing-md !important;
        }
        &-left {
            margin-left: $spacing-md;
        }
        &-right {
            margin-right: $spacing-md;
        }
    }
    &-lg {
        margin: $spacing-lg;
        &-all {
            margin: $spacing-lg;
        }
        &-top-bottom {
            margin: $spacing-lg 0 !important;
        }
        &-top {
            margin-top: $spacing-lg;
        }
        &-bottom {
            margin-bottom: $spacing-lg !important;
        }
        &-left {
            margin-left: $spacing-lg;
        }
        &-right {
            margin-right: $spacing-lg;
        }
    }
    &-xl {
        margin: $spacing-xl;
        &-all {
            margin: $spacing-xl;
        }
        &-top-bottom {
            margin: $spacing-xl 0 !important;
        }
        &-top {
            margin-top: $spacing-xl;
        }
        &-bottom {
            margin-bottom: $spacing-xl !important;
        }
        &-left {
            margin-left: $spacing-xl;
        }
        &-right {
            margin-right: $spacing-xl;
        }
    }
    &-none {
        margin: 0;
        &-top {
            margin-top: 0!important;
        }
    }
    &-bottom-none {
        margin-bottom: 0!important;
    }
    &-top {
        &-none {
            margin-top: 0!important;
        }
        
        &-bottom { //.margin-top-bottom-none
            &-none {
                @extend .margin-top-none;
                margin-bottom: 0!important;
            }
            
        }
    }
    &-left-none {
        margin-left: 0;
    }
    &-right-none {
        margin-right: 0;
    }
}

.margin {
	&-none {
		margin: 0;
	}
	&-top {
		&-none {
			margin-top: 0!important;
		}
		
		&-bottom { //.margin-top-bottom-none
			&-none {
				@extend .margin-top-none;
				margin-bottom: 0!important;
			}
			
		}
	}
	&-bottom {
		&-none {
			margin-bottom: 0!important;
		}
	}
}

.line-height {
	&-xxs {
		line-height: 0.5;
	}
	&-xs {
		line-height: 0.8;
	}
	&-s {
		line-height: 1;
	}
	&-m {
		line-height: 1.2;
	}
	&-l {
		line-height: 1.4;
	}
	&-xl {
		line-height: 1.6;
	}
	&-xxl {
		line-height: 1.8;
	}
}