.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments {
	&-title {
		@include responsive-font(4vw, 10px, 16px, 16px);
	}
	&-area {
		@include content_inset(page);
	}
}

.comment{
	&-author {
		display: block;
		float: left;
		padding-right: 3px;
	}
	&-list {
		list-style-type: none;
		padding-left: 0;
	}
	&-metadata {
		display: none;
	}
}

.says {
	display: none;
}

b.fn a { // this is the author name that links to Instagram 
 font-family: $font__nav_heading;
}