footer {
	
	
	
	@include font_color_check(none);
	.footer-nav {
		ul {
			font-family: $font__main;
			list-style-type: none;
			padding-left: 0;
		}

	}
	
	&.site-footer{
		@include white_on_black;
	}
	
	.site-name {
		text-transform: uppercase;
		font-size: 0.5em;
		@include opacity(0.7);
	}
	
}

// Social Icons

$social-icon-padding: 8px;

@mixin FAIconStyling($font-family:FontAwesome, $font-style:normal, $font-weight:normal, $text-decoration: inherit){
	font-family: $font-family;
	font-style: $font-style;
	font-weight: $font-weight;
	text-decoration: $text-decoration;
}

li {
	&.fb-icon {
		&:before {
			content:"\f230"; // Facebook official icon
			@include FAIconStyling;
			padding-right: $social-icon-padding;
		}
	}

	&.is-icon {
		&:before {
			content:"\f16d"; // Instagram official icon
			@include FAIconStyling;
			padding-right: $social-icon-padding;
		}
	}

	&.tw-icon {
		&:before {
			content:"\f081"; // Twitter official icon
			@include FAIconStyling;
			padding-right: $social-icon-padding;
		}
	}
}