// top-most test area is a widget.

.navbar-super-widget {
	@include responsive-font(4vw, 7px, 11px, 14px);
	color: $light-gray;
	text-align: right;
	padding: 3px 0;
}

nav#site-navigation {
	background-origin: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}