//if #page has .home, inverse colors, otherwise be normal
html.cssfilters {
	body { 
		&.home { //mixin located in /mixins/mixins-master.scss
			@include bg_color_check(home);
			@include font_color_check(home);
		}
	}
}

//
//  * Use Flexbox to give us a sticky footer
//  * 1. Avoid the IE 10-11 `min-height` bug.
//  * 2. Set `flex-shrink` to `0` to prevent some browsers from
//  *    letting these items shrink to smaller than their content's default
//  *    minimum size. See http://bit.ly/1Mn35US for details.
//  * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 
$body-full-height: 100vh;	

html.flexbox {
	body:not(.archive)  {
		
		&.logged-in { //attach to body to read: html.flexbox body.logged-in .site {};
				.site {
					min-height: calc(#{$body-full-height} - #{$admin-bar-desktop});
				}
				
			}
		.site { // must be .site otherwise it affects the wp-admin bar 
            @include display-flex;
            @include flex(1 1 auto);
            @include flex-direction(column);
            @include justify-content(center);
	        min-height: $body-full-height;
			height: 100%; /* 1, 3 */
            .site-content { // .site-content. This section triggers the header and footer to be top and bottom. Essentially pushing this section to fill the available space.
                @include display-flex;
                @include flex(1 1 auto);
                @include flex-direction(column);
				@include justify-content(center);
                .content-area { // content-area Noe we restart the flex centering content logic
                    @include display-flex;
					@include flex(1 1 auto);
					@include flex-direction(column);
					@include justify-content(center);

                    main.site-main{
		                width: 100%; // we need this so the content fills the space.
		                @include display-flex;
						@include flex(1 1 auto);
						@include flex-direction(column);
						@include justify-content(center);
						article:not(.format-image) {
							@include flex(1 1 auto);
						}
                    }
                } // .content-area
            } // .site-content
        } // .site 
	} // body 

	header, footer {
		@include flex(none); /* 2 */
	}

} // html.flexbox 

.single-post-thumbnail {
	img {
		margin: 0 auto;
	}
	@include at-least($bp-xs){
		margin-left: -15px;
		margin-right: -15px;
		
	}
}

.article-bg-header-wrap{
	@include full_width_header(16, 9);
}

article{
	@include clearfix-after();
	&.type-post {
		margin: 1em auto;
		
	}
	&.page {
		min-height: 100%;
	}
	&.format-aside {
		.entry-title {
			text-align: center;
			body.archive & {
				text-align: left;
			}
		}
		
	}
	&.format-image { // add seprators between each article. Work top to bottom. Last will not have a border.

		p {
			margin: 0;
		}

		&:first-of-type { // if you want the first post styled differently
			// border-color: blue;
		}
		&:last-of-type {
			
		}
		.entry-content {
			// span {
			// 	font-family: $font__heading;
			// 	text-transform: uppercase;
			// }
			.tags-links {
				padding-right: 0; // zeros this out
				padding: $spacing-sm 0 0;
				@include clearfix;
				@include responsive-font(4vw, 10px, 12px, 10px);
			}
			p {
				margin: 0 0 $spacing-sm 0;
			}
		}
		.entry-footer {
			padding: 1em;
			body.archive & {
				background-color: #f9f9f9;
				margin-bottom: 1em;
				width: 100%;
				text-align: left;	
			}
		}
		.entry-header {
			font-family: $font__heading;
			text-transform: uppercase;
			margin-bottom: 0;
			body.single & {
				@include at-least($bp-xs){
					margin-bottom: 15px;
				}
				@include at-least($bp-md){
					margin-right: 15px;
					margin-bottom: 0;
				}
				
			}
		}
		.entry-meta {
			@include responsive-font(4vw, 10px, 12px, 10px);
			.ig-title {
				padding: 0.5em 0;
			}
			body.single & {
				color: #bdbdbd;
				padding-bottom: $spacing-sm;
			}
		}
		.posted-on {
			display: inline;
			float: right;
			margin-bottom: 0;
		}
	}
	&.format-standard {
		
		.entry-title {
			background-color: #FFFFFF;
			margin-top: -0.5em;
			margin-bottom: 0;
			z-index: $z - 2;
			@include at-least($bp-xs){
				padding: 5px 10px;
			}
			@include at-least($bp-md){
				padding: 10px 15px;
			}
			body.archive & {
				margin-top: 0;
				padding-left: 0;
			}
		}	
		.entry-content {
			
		}
		.entry-footer {
			
		}
	} // format-standard

	&.format-video { // add seprators between each article. Work top to bottom. Last will not have a border.
		&.type-post {
			&.archive {
				background-color: #f9f9f9;
			}
			
		}
		p {
			margin: 0;
		}

		&:first-of-type { // if you want the first post styled differently
			// border-color: blue;
		}
		&:last-of-type {
			
		}
		.entry-content {
			span {
				font-family: $font__heading;
				text-transform: uppercase;
			}
		}
		.entry-footer {
			padding: 1em;
			body.archive & {
				background-color: #f9f9f9;
				margin-bottom: 1em;
				width: 100%;
				text-align: left;	
			}
			.btn-read-more {
				text-align: right;
			}
		}
		.entry-header {
			font-family: $font__heading;
			text-transform: uppercase;
			margin-bottom: 0;
			body.single & {
				@include at-least($bp-xs){
					margin-bottom: 15px;
				}
				@include at-least($bp-md){
					margin-right: 15px;
					margin-bottom: 0;
				}
				
			}
		}
		.entry-thumbnail {
			a { // video icon is nested inside anchor link to make it clickable, so we nest the flexbox here. too
				@include display-flex;
				@include flex(1);
				@include justify-content(center);
				@include align-items(center);

			}
			
		}
		.posted-on {
			margin-bottom: 0!important; // posted-on styling below adds margin bottom. See line 443 (ish)
		}
		.video-overlay {
			position: absolute;
			//margin: 0.5em;
			color: transparentize(#FFFFFF, 0.5);
			@include transition(color $transition-time $transition-in);
			&:hover, &:focus {
				color: #FFFFFF;
			}
			&:active {
				color: $color_base;
			}
		}
	} // end video
}

.entry {
	
	&-content {
		// img {
		// 	max-height: 80vh;
		// 	width: auto;
		// }
		section {

			@include at-least ($bp-xs){
				
				body.home & {
					margin-bottom: 0;
				}
			}
			@include at-least ($bp-md){
				
				body.home & {
					margin-bottom: 0;
				}
			}
			
		}
		.news & {
			
			@include until($bp-md){
				padding: 0 1em;
			}
		}
	}
	&-date {
		.format-standard & {
			color: $color__text-light;
				@include transition(color $transition-time $transition-in);
				&:hover, &:focus {
					color: $color__link-hover;
				}
			
			
			font-size: 85%;
			
		}
		
				
	}
	&-footer {
		@include content_inset(page);
		position: relative;
		.format-standard & {
			padding: 0;
			
		}
		.format-image & {
			.btn-read-more {
				
				text-align: right;
				
			}
			
		}
		
		padding: 0 1em 1em;
		background: transparent;
		body.home & {
				padding: 0;
			}
		body.archive & {
				@include until ($bp-md){
					margin-bottom: 1em;
					text-align: center;
					@include center-block;
				}
				@include at-least ($bp-md){
					float: right;
					width: 20%;
					text-align: right;
				}
				
			}
	}
	&-header {
		position: relative;
		margin: 0 0 1.5em;
		body.home & {
				margin: 0;
			}
		&.no-thumbnail { // .entry-header.no-thumbnail 
			.entry-title { // .entry-header.no-thumbnail .entry-title
				margin-top: 0; // Trying to change article.format-standard .entry-title
			}
		}
		
	}
	&-meta {
		
		&:not(article.post){
			margin: 0;
		}
		
	}
	
	&-thumbnail {
		position: relative;
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	
}

.sticky {
	display: block;
}

.hentry {
	
	body.home & {
			margin: 0;
		}
}


section {
	&:focus {
		outline: none;
	}
	body.page-template-page-flexbox &  {
		@include display-flex;
	}
	&.flexbox-section {
		@include until($bp-md){
			background-attachment: scroll!important;
		}
	}
}

body.single {
	iframe { //if we use the Instagram Embed feature
		@include center-block;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,

.entry-summary {
	margin: 0 0 1.5em;
	body.home & {
		margin: 0;
		& p {
			width: 100%;
			max-width: 100%;
		}
	}
	& p {
		//@include content_inset(content);
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	body.archive & {
		text-align: center;
	}
}


// Sticky Posts 
.fa.fa-thumb-tack.sticky-post {
	padding: 1em;
	background-color: $color__background-screen;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
}

.singleColumn {
	@include content_inset(page);
	img.image {
			@include center-block;
			padding-bottom: 1em;
			article.post & {
				padding-bottom: 0;
			}
		}
}

figure {
	margin: 0;
}

.cat-links, .tags-links, .comments-link {
	padding-right: 13px;

}

.tags-links {
	color: $color__link-hover; //sets as red 
	@include transition(color $transition-time $transition-in);
	&:hover, &:focus {
		color: $color_base_shade; // darkens from red. Makes the hash and the link convert

	}
	a {
		color: $color__link-hover; //matches the tag to the hash color 
		margin-right: 3px; //give space between each tag
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: transparent; // so border will transition
		@include transition(color $transition-time $transition-in, border-bottom-color $transition-time $transition-in);
		&:hover, &:focus {
			color: $color_base_shade; // darkens from red. Makes the hash and the link convert
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: $color_base_shade;
		}
		&:active {
			background-color: $color-base;
			color: #FFFFFF;
		}
	}
	
	
}
.posted-on {
	display: block;
	margin-bottom: 1em;
	a {
		color: grayscale($color_base);
	}
	.published {
		
	}
	.updated {
		display: none;
	}
}