//Build Theme Colors

// Primary Colors
$color_base: #269719 ; // set this up for future iterations
$color_alt_1: #FF9012;
$color_alt_2: #4E2C06;

// Secondary Colors (Gray is below)
$color_alt_3: #21BCBC;
$color_alt_4: #14CC58;


// Let's create the variations
// Ref: http://codepen.io/thebeckyhamm/pen/szEyK


////////////////////////////////////////////////////////// Color Base 
// Ref: http://jackiebalzer.com/color

// Invert and Complementary 
$color_base_invert: 	invert($color_base);
$color_base_complement: complement($color_base);
// shade($color, $percentage)
$color_base_shade: shade($color_base, 20%);
// tint($color, $percentage)
$color_base_tint: tint($color_base, 30%);

// Lighter and Darker 
$lighten1: 				lighten($color_base, 10%);
$lighten2: 				lighten($color_base, 30%);
$darken1: 				darken($color_base, 10%);
$darken2: 				darken($color_base, 20%);

// Rename Light and Dark colors. Have to keep colors above for existing. Can lint out later.
$color_base_dark:		$darken1;
$color_base_dark_plus:	$darken2;
$color_base_light:		$lighten1;
$color_base_light_plus:	$lighten2;

////////////////////////////////////////////////////////// Color Alt 1
// Ref: http://jackiebalzer.com/color

$color_alt_1_invert: 		invert($color_alt_1);
$color_alt_1_complement: 	complement($color_alt_1);

$color_alt_1_light: 		lighten($color_alt_1, 10%);
$color_alt_1_light_plus: 	lighten($color_alt_1, 30%);
$color_alt_1_dark: 			darken($color_alt_1, 5%);
$color_alt_1_dark_plus: 	darken($color_alt_1, 15%);

////////////////////////////////////////////////////////// Color Alt 2
// Ref: http://jackiebalzer.com/color

$color_alt_2_invert: 		invert($color_alt_2);
$color_alt_2_complement: 	complement($color_alt_2);

$color_alt_2_light: 		lighten($color_alt_2, 5%);
$color_alt_2_light_plus: 	lighten($color_alt_2, 10%);
$color_alt_2_dark: 			darken($color_alt_2, 5%);
$color_alt_2_dark_plus: 	darken($color_alt_2, 10%);

////////////////////////////////////////////////////////// Color Alt 3
// Ref: http://jackiebalzer.com/color

$color_alt_3_invert: 		invert($color_alt_3);
$color_alt_3_complement: 	complement($color_alt_3);

$color_alt_3_light: 		lighten($color_alt_3, 10%);
$color_alt_3_light_plus: 	lighten($color_alt_3, 30%);
$color_alt_3_dark: 			darken($color_alt_3, 10%);
$color_alt_3_dark_plus: 	darken($color_alt_3, 30%);

////////////////////////////////////////////////////////// Color Alt 4
// Ref: http://jackiebalzer.com/color

$color_alt_4_invert: 		invert($color_alt_4);
$color_alt_4_complement: 	complement($color_alt_4);

$color_alt_4_light: 		lighten($color_alt_4, 10%);
$color_alt_4_light_plus: 	lighten($color_alt_4, 30%);
$color_alt_4_dark: 			darken($color_alt_4, 10%);
$color_alt_4_dark_plus: 	darken($color_alt_4, 30%);

// Bootstrap overrides to match tone of theme 
$brand-default:         grayscale($color_base);
$brand-primary:         #005BBD;
$brand-success:         #2ace2f;
$brand-info:            #FFDD31;
$brand-warning:         #FF5000;
$brand-danger:          #BD0000;

// Compass Base Contrast colors 
$contrasted-dark-default: #333333;
$contrasted-light-default: #e7e7e7;

//Grayscale colors
$gray1:	grayscale($color_base);
$gray: $gray1;
$dark_gray: darken($gray1, 33%);
$light_gray: lighten($gray1, 33%);

// Backgrounds
$color__background-body: #FFFFFF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-header: #000000;
$color__background-footer: #000000;


// Text and Typography
$color__text-main: #404040;
$color__text-main-inverse: invert($color__text-main);
$color__text-light: #f1f1f1;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

//Links
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $color_base;
$color__link-active: $color_base_dark;

// Buttons
$color__background-button: $color_base;
$color__background-button-hover: $color_base_light;
$color__background-button-active: $color_base_dark;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;


// Forms
$color__border-input: $color_base_dark;
$color__border-abbr: $color_base_dark_plus;

// Borders 
$border__color: $color_base_dark;