//////////////////////////////////////// Typography basis

$font__heading: 'hwt-artz', Arial, sans-serif;
$font__main: 'adelle-sans', Arial, sans-serif;
$font__nav_heading: $font__heading;
$font__homepage_overlay: $font__nav_heading;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__sans-serif: Arial, sans-serif;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.6;

//////////////////////////////////////// Shadow
$default-text-shadow-color: $dark_gray;
$default-text-shadow-blur: 2px;
$default-text-shadow-v-offset: 1px;