/////////////////////////  Variable Paths

$wp-path:     '/wp-content/themes/vie13-v2';
$path-fonts:  '/assets/fonts';
$path-images: '/assets/images';
$path-pie:    '/bower_components/pie/PIE.htc';

// WP basics
$admin-bar-desktop: 32px;
$admin-bar-mobile: 46px;

///////////////////////////////////////////////////////////////  COLORS

@import "colors";

///////////////////////////////////////////////////////////////  Typography
@import "typography";

///////////////////////////////////////////////////////////////  structure
@import "structure";

///////////////////////////////////////////////////////////////  animation
@import "animation";
