.wp-caption {
	position: relative;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		//margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: left;
	padding: 0 1em;
	font: $font__sans-serif;
	position: absolute;
	bottom: 2em;
}
