img.img-enhance-ui {
  position: relative;
}

img.img-enhance-ui:before { 
  content: " ";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 45px);
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

img.img-enhance-ui:after { 
  content: "\f127" " Broken Image (" attr(alt) ")";
  display: block;
  font-size: 14px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;

  
}

.appear {
  opacity: 1;
}